.me-email-notifications {
    margin-bottom: var(--space-s);
    display: flex;
    flex-direction: column;

    .right {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
}

.notifications-list {
    list-style: none;
    padding: 0;
    flex-grow: 1;
}

.notifications-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-2xs);
}

.notifications-error,
.notifications-success {
    border-top-width: 0;
    font-weight: bold;
}

.notifications-error {
    color: rgb(216, 0, 41);
}

.notifications-success {
    color: green;
}
