<span class="badge" ...attributes>
  <a href="https://ci.appveyor.com/project/{{ this.projectName }}">
    <img
        src="{{ this.imageUrl }}"
        alt="{{ this.text }}"
        width="106"
        height="20"
        title="{{ this.text }}">
  </a>
  
</span>