<a href="https://isitmaintained.com/project/{{ repository }}">
    <img
        src="https://isitmaintained.com/badge/resolution/{{ repository }}.svg"
        alt="{{ text }}"
        title="{{ text }}">
</a>
