<span class="badge" ...attributes>
  <a href="https://isitmaintained.com/project/{{ this.repository }}">
    <img
        src="https://isitmaintained.com/badge/open/{{ this.repository }}.svg"
        alt="{{ this.text }}"
        title="{{ this.text }}">
  </a>
  
</span>