<ul>
  {{#each @categories as |category|}}
    <li>
      <LinkTo @route="category" @model={{category.slug}} class="name">
        <span>{{ category.category }} ({{ format-num category.crates_cnt }})</span>
        <div class='arrow-in-list'>
          {{svg-jar "right-arrow"}}
        </div>
      </LinkTo>
    </li>
  {{/each}}
</ul>
