<ul>
    {{#each categories as |category|}}
        <li>
            {{#link-to 'category' category.slug class='name'}}
                <span>{{ category.category }} ({{ format-num category.crates_cnt }})</span>
                <div class='arrow-in-list'>
                    {{svg-jar "right-arrow"}}
                </div>
            {{/link-to}}
        </li>
    {{/each}}
</ul>
