<ul>
    {{#each crates as |crate|}}
        <li>
            {{#link-to 'crate' crate class='name'}}
                {{ crate.name }} ({{ crate.max_version }})
                <img src="/assets/right-arrow.png"/>
            {{/link-to}}
        </li>
    {{/each}}
</ul>
