<ul>
    {{#each crates as |crate|}}
        <li>
            {{#link-to 'crate' crate class='name'}}
                <img class="rust-box" src="/assets/rust_box.png"/>
                <div class='crate-name'>{{ crate.name }}</div>
                <div class='crate-version'>{{ crate.max_version }}</div>
            {{/link-to}}
        </li>
    {{/each}}
</ul>
