<div class='desc'>
    <div class='info'>
        {{#link-to 'crate' crate}}{{ crate.name }}{{/link-to}}
        <span class='vers small'>{{ crate.max_version }}</span>
    </div>
    <div class='summary'>
        <span class='small'>
            {{ truncate-text crate.description }}
        </span>
    </div>
</div>
<div class='stats'>
    <div class='downloads'>
        <img src="/assets/download.png"/>
        <span class='num'>{{ format-num crate.downloads }}</span>
    </div>
</div>
