<ul>
    {{#each crates as |crate|}}
        <li>
            {{#link-to 'crate' crate.id class='name'}}
                <span>{{ crate.name }} ({{ crate.max_version }})</span>
                <img class="right-arrow" src="/assets/right-arrow.png"/>
            {{/link-to}}
        </li>
    {{/each}}
</ul>
