<ul>
    {{#each crates as |crate|}}
        <li>
            {{#link-to 'crate' crate class='name'}}
                {{ crate.name }} ({{ crate.max_version }})
                <div class='right'>
                    <img src="/assets/download-clear-back.png"/>
                    {{ format-num crate.downloads }}
                </div>
            {{/link-to}}
        </li>
    {{/each}}
</ul>
