<ul>
    {{#each crates as |crate|}}
        <li>
            {{#link-to 'crate' crate.id class='name'}}
                <span>{{ crate.name }} ({{ crate.max_version }})</span>
                <div class='arrow-in-list'>
                    {{svg-jar "right-arrow"}}
                </div>
            {{/link-to}}
        </li>
    {{/each}}
</ul>
