<ol>
    {{#each crates as |crate index|}}
        <li>
            {{#link-to 'crate' crate.id class='name' data-test-crate-link=index}}
                <span>{{ crate.name }} ({{ crate.max_version }})</span>
                <div class='arrow-in-list'>
                    {{svg-jar "right-arrow"}}
                </div>
            {{/link-to}}
        </li>
    {{/each}}
</ol>
