<ul>
    {{#each keywords as |keyword|}}
        <li>
            {{#link-to 'keyword' keyword class='name'}}
                <span>{{ keyword.id }} ({{ format-num keyword.crates_cnt }})</span>
                <div class='arrow-in-list'>
                    {{svg-jar "right-arrow"}}
                </div>
            {{/link-to}}
        </li>
    {{/each}}
</ul>
