{{input
    type="checkbox"
    name=controlId
    id=controlId
    checked=emailNotifications
    change=(action "toggleEmailNotifications")
    class="form-control"
  }}
<label for="{{ controlId }}">
  {{ name }}
</label>
