.button {
    --text-color: hsl(0, 0%, 22%);
    --disabled-text-color: hsl(0, 0%, 52%);

    --bg-color-top: hsl(40, 98%, 81%);
    --bg-color-bottom: hsl(40, 98%, 66%);

    --bg-color-top-light: hsl(41, 97%, 86%);
    --bg-color-bottom-light: hsl(40, 97%, 71%);

    --bg-color-top-dark: hsl(40, 98%, 76%);
    --bg-color-bottom-dark: hsl(40, 98%, 61%);

    padding: 15px 40px;
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    border: none;
    outline: 0;
    border-radius: 30px;
    background: linear-gradient(to bottom, var(--bg-color-top) 0%, var(--bg-color-bottom) 100%);

    img, svg {
        float: left;
        display: inline-block;
        margin-right: 10px;
    }

    &:hover, &:focus, &.active {
        background: linear-gradient(to bottom, var(--bg-color-top-dark) 0%, var(--bg-color-bottom-dark) 100%);
        outline: 0;
    }

    &[disabled] {
        background: linear-gradient(to bottom, var(--bg-color-top-light) 0%, var(--bg-color-bottom-light) 100%);
        color: var(--disabled-text-color);
    }
}

.yellow-button {
    composes: button;
    vertical-align: middle;
}

.tan-button {
    composes: button;

    --bg-color-top: hsl(51, 42%, 85%);
    --bg-color-bottom: hsl(51, 43%, 72%);

    --bg-color-top-light: hsl(52, 41%, 89%);
    --bg-color-bottom-light: hsl(52, 42%, 77%);

    --bg-color-top-dark: hsl(50, 42%, 80%);
    --bg-color-bottom-dark: hsl(51, 43%, 67%);
}

.small {
    padding: 10px 20px;
    border-radius: 30px;
}
