@mixin button($start, $end) {
    $start_dark: darken($start, 5%);
    $end_dark: darken($end, 5%);
    $start_light: lighten($start, 5%);
    $end_light: lighten($end, 5%);

    padding: 15px 40px;
    display: inline-block;
    color: $main-color;
    text-decoration: none;
    font-weight: bold;
    border: none;
    outline: 0;
    border-radius: 30px;
    background: linear-gradient(to bottom, $start 0%, $end 100%);

    img, svg {
        float: left;
        display: inline-block;
        margin-right: 10px;
    }

    &:hover, &:focus {
        background: linear-gradient(to bottom, $start_dark 0%, $end_dark 100%);
        outline: 0;
    }
    &.active {
        background: linear-gradient(to bottom, $start_dark 0%, $end_dark 100%);
        outline: 0;
    }
    &[disabled] {
        background: linear-gradient(to bottom, $start_light 0%, $end_light 100%);
        color: $main-color-light;
    }
}

.yellow-button {
    @include button(#fede9e, #fdc452);
    vertical-align: middle;
}

.tan-button {
    @include button(rgb(232, 227, 199), rgb(214, 205, 153));
}

.small {
    padding: 10px 20px;
    border-radius: 30px;
}
