:global(.form-group-name) {
    display: flex;
    gap: var(--space-2xs);
    margin-bottom: var(--space-2xs);
    font-weight: 600;
}

:global(.form-group-error) {
    display: block;
    color: red;
    font-size: 0.9em;
    margin-top: var(--space-2xs);
}

:global(.base-input) {
    padding: var(--space-2xs);
    background-color: light-dark(white, #141413);
    border: 1px solid var(--gray-border);
    border-radius: var(--space-3xs);

    &[aria-invalid="true"] {
        background: light-dark(#fff2f2, #170808);
        border-color: red;
    }
}
