.small {
    color: var(--main-color-light);
    font-size: 80%;

    strong {
        color: var(--main-color);
    }
}

.small a, a.small {
    color: var(--main-color-light);
    text-decoration: underline;
    font-weight: normal;

    &:hover {
        color: hsl(0, 0%, 42%);
    }
}

.yanked {
    font-size: 80%;
    color: hsl(0, 100%, 33%)
}
