.small {
    color: var(--main-color-light);
    font-size: 80%;

    strong {
        color: var(--main-color);
    }
}

.small a, a.small {
    color: var(--main-color-light);
    text-decoration: underline;
    font-weight: normal;

    &:hover {
        color: #6b6b6b;
    }
}
