@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin vertical-gradient($start, $end) {
    background: $end;
    background: -moz-linear-gradient(top, $start 0%, $end 100%);
    background: -webkit-gradient(linear, left top, left bottom,
                                 color-stop(0%,$start),
                                 color-stop(100%,$end));
    background: -webkit-linear-gradient(top, $start 0%,$end 100%);
    background: -ms-linear-gradient(top, $start 0%,$end 100%);
    background: linear-gradient(to bottom, $start 0%,$end 100%);
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
