@import "normalize";

$html-bg: #3b6837;
$main-color: #383838;
$main-color-light: lighten($main-color, 30%);
$main-bg: #f9f7ec;
$main-bg-dark: #edebdd;
$gray-border: #d5d3cb;
$link-color: rgb(0, 172, 91);

@import "crate";

@import "modules";

span.small {
    color: $main-color-light;
    font-size: 80%;

    strong {
        color: $main-color;
    }

    a {
        color: $main-color-light;
        text-decoration: underline;
        font-weight: normal;

        &:hover {
            color: darken($main-color-light, 10%);
        }
    }
}

ul.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
    padding: 0;
    background: white;
    border: 1px solid $gray-border;
    list-style: none;
    z-index: 10;
    overflow: hidden;
    border-radius: 5px;

    li a {
        font-size: 90%;
        width: 100%;
        display: inline-block;
        padding: 8px 10px;
        text-decoration: none;
        color: $main-color !important;

        &:hover {
            background: lighten($main-color, 15%);
            color: white !important;
        }
    }
    li.last { border-top: 1px solid $gray-border; }
    &.open {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}
