@import "normalize";

$html-bg: #3b6837;
$main-color: #383838;
$main-color-light: lighten($main-color, 30%);
$main-bg: #f9f7ec;
$main-bg-dark: #edebdd;
$gray-border: #d5d3cb;
$link-color: rgb(0, 172, 91);

@import "crate";

@import "modules";

span.small {
    color: $main-color-light;
    font-size: 80%;

    strong {
        color: $main-color;
    }

    a {
        color: $main-color-light;
        text-decoration: underline;
        font-weight: normal;

        &:hover {
            color: darken($main-color-light, 10%);
        }
    }
}
