$html-bg: #3b6837;
$main-color: #383838;
$main-color-light: lighten($main-color, 30%);
$main-bg: #f9f7ec;
$main-bg-dark: #edebdd;
$gray-border: #d5d3cb;
$link-color: rgb(0, 172, 91);

@import "modules";
