#header {
    color: white;
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: white; text-decoration: none;
        &:hover { color: darken(white, 15%); }
    }

    .current-user-links {
        left: auto;
        right: 0;
        min-width: 200px;
    }
}
