@import url(./theme.module.css);

:root {
    --violet800: hsl(252, 44%, 24%);
    --grey900: hsl(200, 15%, 19%);
    --grey700: hsl(200, 11%, 43%);
    --grey600: hsl(200, 13%, 60%);
    --grey200: hsl(200, 17%, 96%);
    --yellow500: hsl(44, 100%, 60%);

    --font-sans: "Fira Sans", sans-serif;
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --main-color-light: #858585;

    --download-list-link: #525252;
    --owned-crate-checked: #cfc487;
    --rendered-html-table: #dfe2e5;
    --placeholder-bg: hsl(212, 7%, 57%);
    --placeholder-bg2: hsl(213, 16%, 75%);
    --separator-color: #284725;
    --link-hover-color: #007940;
    --link-color: rgb(0, 172, 91);
}

:global(.new-design) {
    --header-bg-color: var(--violet800);
    --main-bg: white;
    --footer-bg-color: var(--grey900);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    background-color: var(--header-bg-color);
    font-family: var(--font-sans);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    @media only screen and (max-width: 400px) {
        font-size: 1.5em;
    }
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        color: var(--link-hover-color);
    }
}

pre {
    background: var(--main-color);
    color: white;
    padding: 20px;
    font-family: var(--font-monospace);
}

abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted;
}

noscript {
    color: white;
    padding: 10px 0;
}

:global {
    .c-notification__icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c-notification__content {
        line-height: 1.5;
    }
}

.width-limit {
    width: 960px;
    @media only screen and (max-width: 960px) {
        width: 100%;
    }
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--main-bg);
    color: var(--main-color);
}

.inner-main {
    composes: width-limit;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding: 0 15px;
}

.toggle-design-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 100;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    color: black;
    font-family: sans-serif;
    cursor: pointer;

    &:hover {
        background: #f7f7f7;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    }
}
