.wrapper {
    height: 100%;
    display: grid;
    place-items: center;
}

.content {
    display: grid;
    place-items: center;
    margin: 25px 0;
}

.logo {
    max-width: 200px;
}

.link {
    font-weight: 500;
}
