/* Styles for the /categories page */

.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-s);
}

.list {
    list-style: none;
    margin: var(--space-2xs) 0 var(--space-s);
    padding: 0;

    > * + * {
        margin-top: var(--space-2xs);
    }

    &:global(.is-empty) {
        min-height: calc(2 * var(--space-s) + var(--space-xl));
    }
}

.row {
    composes: row from global;
}

.description {
    margin-top: var(--space-2xs);
    line-height: 1.5;
}

.categories-footer {
	width: 100%;
	margin: var(--space-2xs) 0;
	text-align: center;
	font-size: 85%;

    > a {
        text-decoration: underline;
    }
}
