/* Styles for the /categories page */

.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-s);
}

.sort-by-label {
    composes: small from './shared/typography.module.css';
}

.list {
    background-color: white;
    border-radius: var(--space-3xs);
    box-shadow: 0 1px 3px hsla(51, 90%, 42%, .35);
    margin-bottom: var(--space-s);

    > * {
        padding: var(--space-s);
    }

    > * + * {
        border-top: 1px solid hsla(51, 90%, 42%, .25);
    }
}

.crate-count {
    composes: small from './shared/typography.module.css';
}

.description {
    composes: small from './shared/typography.module.css';
    margin-top: var(--space-2xs);
    line-height: 1.5;
}

.categories-footer {
	width: 100%;
	margin: var(--space-2xs) 0;
	text-align: center;
	font-size: 85%;
}
