.crates-heading {
    width: 100%;
    padding: 20px;
    background-color: $main-bg-dark;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .wide {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        img {
            align-self: center;
        }
        .team-info {
            flex-direction: column;
        }
    }
    h1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    h2, small { color: $main-color-light; padding-left: 10px; }
    .right {
        flex: 2;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    @media only screen and (max-width: 650px) {
        .right { justify-content: center; }
    }
}

#results {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .dropdown-button,
    .dropdown {
        font-size: 85%;
    }

    .dropdown-button {
        background-color: $main-bg-dark;
        padding: 10px;
        display: inline-block;
        border: none;
        border-radius: 5px;
    }
}

.white-rows {
    background-color: white;
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .row {
        width: 100%;
        border-bottom: 2px solid $gray-border;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &:last-of-type { border: none; }
    }
}

.crate {
    .desc {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        width: 75%;
    }

    .info a {
        color: $main-color;
        font-weight: bold;
        text-decoration: none;
        font-size: 120%;
    }

    .stats {
        width: 25%;
        color: $main-color-light;
    }
    .downloads {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
    }
    .recent-downloads {
        display: flex;
        align-items: center;
    }
    .updated-at {
        padding-top: 5px;
        display: flex;
        align-items: center;

        svg {
            padding: 10px;
        }
    }

    .rev-dep-downloads {padding-left: 7px}
}

.all-versions-back { margin-bottom: 20px; }
