.selection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 40px;

    a {
        text-decoration: none;
        font-weight: bold;
        color: inherit;
        padding: 5px;
    }
    a:hover { background-color: var(--main-bg-dark); }
    a:global(.active) { background-color: var(--main-bg-dark); }

    select {
        display: none;
        width: 100%;
        padding: 5px;
    }

    @media only screen and (max-width: 650px) {
        padding: 0;
        background-color: inherit;
        a { display: none; }
        select { display: block; }
    }
}

.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.sort-by-label {
    composes: small from './shared/typography.module.css';
}

.list {
    background-color: hsl(0, 0%, 100%);
    padding: 0 20px;
    margin-bottom: 20px;
}

.row {
    border-bottom: 2px solid var(--gray-border);
    padding: 20px 0;

    &:last-of-type {
        border: none;
    }
}
