.selection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 40px;

    a {
        text-decoration: none;
        font-weight: bold;
        color: inherit;
        padding: 5px;
    }
    a:hover { background-color: var(--main-bg-dark); }
    a:global(.active) { background-color: var(--main-bg-dark); }

    @media only screen and (max-width: 650px) {
        padding: 0;
        background-color: inherit;
        a { display: none; }
    }
}

.filter-dropdown-label {
    display: none;

    @media only screen and (max-width: 650px) {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.filter-dropdown {
    flex-grow: 1;
    margin-left: 20px;
}

.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.sort-by-label {
    composes: small from './shared/typography.module.css';
}

.list {
    margin-bottom: 20px;
}
