.crates-heading {
    width: 100%;
    padding: 20px;
    background-color: $main-bg-dark;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .wide {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        img {
            align-self: center;
        }
    }
    h1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    h2, small { color: $main-color-light; padding-left: 10px; }
    .right {
        flex: 2;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    @media only screen and (max-width: 650px) {
        .right { justify-content: center; }
    }
}
