.stats {
    margin-left: auto;
    padding: 10px;

    span { margin-left: 10px; }
    .num {
        font-size: 30px;
        font-weight: bold;
    }
    .downloads {
        display: flex;
        align-items: center;
    }
}

.my-crate-lists {
    flex-direction: column;
    flex-grow: 2;
    margin-right: 20px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media only screen and (max-width: 750px) {
        order: 1;
        margin-right: 0;
    }
}
