.stats {
    margin-left: auto;
    padding: 10px;

    span { margin-left: 10px; }
    .num {
        font-size: 30px;
        font-weight: bold;
    }
    .downloads {
        display: flex;
        align-items: center;
    }
}

.my-crate-lists {
    flex-direction: column;
    flex-grow: 2;
    margin-right: 20px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media only screen and (max-width: 750px) {
        order: 1;
        margin-right: 0;
    }
}

.my-feed {
    flex-grow: 5;
    h2 { font-size: 105%; }

    @media only screen and (max-width: 750px) {
        order: 0;
    }
}

.feed-row {
    composes: row from global;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    span { padding-left: 10px; }

    .date { flex-grow: 2; text-align: right; }
}

.load-more {
    $bg: rgb(219, 217, 207);
    text-align: center;
    padding: 10px;
    outline: 0;
    border: 0;
    margin-bottom: 20px;
    background-color: $bg;
    color: white;
    &:hover, &:focus { background-color: darken($bg, 10%); }
}
