#my-info {
    display: flex;

    @media only screen and (max-width: 750px) {
        flex-direction: column;

        #my-feed {
            order: 0;
        }
    }
}

#my-feed {
    flex-grow: 5;
    h2 { font-size: 105%; }

    .row {
        display: flex;
        flex-direction: column;
    }

    .small { padding-left: 10px; }

    .info {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .date { flex-grow: 2; text-align: right; }
    }
}
