.header {
    display: flex;
    align-items: center;
}

.header-icon {
    flex-shrink: 0;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.stats {
    margin-left: auto;
    padding: 10px;

    .num {
        font-size: 30px;
        font-weight: bold;
    }
    .downloads {
        display: flex;
        align-items: center;
    }
}

.stats-label {
    composes: small from './shared/typography.module.css';
    margin-left: 5px;
}

.my-info {
    display: flex;

    @media only screen and (max-width: 750px) {
        flex-direction: column;
    }
}

.my-crate-lists {
    flex-direction: column;
    flex-grow: 2;
    margin-right: 20px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 105%;
            line-height: 20px;
        }
    }

    @media only screen and (max-width: 750px) {
        order: 1;
        margin-right: 0;
    }
}

.my-crates-link,
.followed-crates-link {
    color: var(--main-color-light);
    text-decoration: underline;
    font-size: 90%;
    font-weight: normal;

    &:hover {
        color: #6b6b6b;
    }
}

.my-feed {
    flex-grow: 5;
    h2 { font-size: 105%; }

    @media only screen and (max-width: 750px) {
        order: 0;
    }
}

.feed {
    background: white;
    padding: 0 20px 20px;
}

.feed-list {
    margin: 0;
    padding: 0;
}

.feed-row {
    display: flex;
    align-items: baseline;
    padding: 20px 0;
    border-bottom: 2px solid var(--gray-border);

    &:last-of-type {
        border: none;
    }
}

.feed-version {
    composes: small from './shared/typography.module.css';
}

.feed-date {
    composes: small from './shared/typography.module.css';
    flex-grow: 1;
    text-align: right;
}

.info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    span { padding-left: 10px; }

    .date { flex-grow: 2; text-align: right; }
}

.load-more {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 0;
    background-color: #dbd9cf;
    color: white;

    &:hover, &:focus {
        background-color: #c5c2b2;
    }
}
