@mixin button($start, $end) {
    $s2: darken($start, 5%);
    $e2: darken($end, 5%);
    padding: 15px 40px;
    display: inline-block;
    color: $main-color;
    text-decoration: none;
    font-weight: bold;
    border: none;
    outline: 0;
    @include border-radius(30px);
    @include vertical-gradient($start, $end);

    img {
        float: left;
        display: inline-block;
        margin-right: 10px;
    }

    &:hover { @include vertical-gradient($s2, $e2); outline: 0; }
    &.active { @include vertical-gradient($s2, $e2); outline: 0; }
}

.yellow-button {
    @include button(#fede9e, #fdc452);
}

.tan-button {
    @include button(rgb(232, 227, 199), rgb(214, 205, 153));
}

#title-header {
    text-align: center;
    border-bottom: 5px solid $gray-border;
    padding-bottom: 40px;

    h1 { font-size: 60px; }

    .link:not(first-child) { margin: 0 20px; }
}

.dl {
    text-decoration: underline;
    font-weight: bold;
}

#blurb {
    margin: 30px 0 40px 0;
    @include flex;

    #intro { width: 60%; line-height: 25px; padding: 10px;}

    #stats {
        width: 40%;
        border-left: 1px solid $gray-border;
        padding: 10px;

        span { margin-left: 10px; }

        img { display: block; float: left; }
        .num {
            font-size: 30px;
            font-weight: bold;
        }
        .downloads, .crates { clear: both; overflow: auto; }
        .crates { margin-top: 10px; }
    }
}

.crate-lists {
    @include flex;

    h2 { font-size: 105%; }
    > div { margin: 0 15px; }

    ul { list-style: none; padding: 0; }
    li { margin: 8px 0; }

    li a {
        width: 100%;
        color: lighten($main-color, 10%);
        text-decoration: none;
        background-color: $main-bg-dark;
        font-size: 90%;
        padding: 20px 10px;
        @include flex;
        @include justify-content(space-between);

        img { vertical-align: middle; }
    }
    li a:hover { background-color: darken($main-bg-dark, 5%); }
}

#home-crates > div { width: 33%; }
