.title-header {
    text-align: center;
    border-bottom: 5px solid var(--gray-border);
    margin-top: 25px;
    padding-bottom: 40px;

    @media only screen and (max-width: 570px) {
        margin-top: 0;
    }

    h1 {
        font-size: 50px;
        @media only screen and (max-width: 370px) {
            font-size: 40px;
        }
    }

    .links a:not(:first-child) {
        margin: 0 20px;
        @media only screen and (max-width: 570px) {
            clear: both;
            margin: 20px 0 0 0;
        }
    }
}

.hero-button {
    composes: yellow-button from '../styles/shared/buttons.module.css';

    .icon {
        color: #c4890e;
    }
}

.blurb {
    margin: 30px 0 40px 0;
    display: flex;

    .intro { flex: 6; line-height: 25px; padding: 10px;}

    .stats {
        flex: 4;
        display: flex;
        flex-direction: column;

        padding: 10px;

        .crates { margin-top: 16px; }
    }

    @media only screen and (max-width: 530px) {
        flex-direction: column;
        .stats {
            border: none;
            margin: 32px auto 0;
        }
    }
}

.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    > section {
        margin: 0;
        padding: 0 15px;
        width: 33.33%;
        @media only screen and (max-width: 750px) {
            width: 50%;
        }
        @media only screen and (max-width: 550px) {
            width: 100%;
        }
    }

    h2 {
        font-size: 105%;
        line-height: 20px;
    }
}

.list {
    list-style: none;
    padding: 0;
}

.error-message {
    line-height: 25px;
}

.try-again-button {
    composes: yellow-button from './shared/buttons.module.css';
    align-self: center;
    margin: 20px 0;

    .spinner {
        margin-left: 7px;
    }
}
