
#install-downloads {
    text-align: center;
    table { display: inline-block; }

    td.label { text-align: left; }
    td a {
        padding: 10px 20px;
        border: 1px solid $gray-border;
        margin: 2px;
        display: inline-block;
        @include border-radius(5px);
    }
}
