.loading-state {
    text-align: center;
    height: 65vh;
    padding-top: 30vh;
}

.loading {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/assets/ajax-loader.gif);
}
