#me-profile {
    border-bottom: 5px solid $gray-border;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .info { @include display-flex; }
    dl {
        margin: 0 0 0 30px;
        line-height: 150%;
        font-size: 110%;
        dt {
            font-weight: bold;
            width: 150px;
            text-align: right;
            float: left;
            clear: both;
        }
        dd { float: left; margin-left: 10px; }
        .align-center {
            @include align-items(center);
        }
        .row {
            width: 100%;
            border: 1px solid #d5d3cb;
            border-bottom-width: 0px;
            &:last-child { border-bottom-width: 1px; }
            padding: 10px 20px 10px 0;
            @include display-flex;
            background-color: $main-bg-dark;
            .small-text {
                font-size: 90%;
            }
            .error {
                color: rgb(216, 0, 41);
            }
            .label {
                @include flex(1);
                margin-right: 0.4em;
                font-weight: bold;
            }
            .actions {
                @include display-flex;
                @include align-items(center);
            }
            .space-left {
                margin-left: 10px;
            }
            .space-right {
                margin-right: 10px;
            }
            .no-space-left {
                margin-left: 0px;
            }
            p {
                width: 80%;
            }
            .space-bottom {
                margin-bottom: 10px;
            }
        }
    }

    @media only screen and (max-width: 550px) {
        .info img { display: none; }
    }
}

#me-email {
    border-bottom: 5px solid $gray-border;
    padding-bottom: 20px;
    margin-bottom: 20px;
    @include display-flex;
    @include flex-direction(column);
    .row {
        width: 100%;
        border: 1px solid #d5d3cb;
        border-bottom-width: 0px;
        &:last-child { border-bottom-width: 1px; }
        padding: 10px 20px;
        @include display-flex;
        @include align-items(center);
        .label {
            @include flex(1);
            margin-right: 0.4em;
            font-weight: bold;
        }
        .email {
            @include flex(20);
            .verified {
                color: green;
                font-weight: bold;
            }
        }
        .actions {
            @include display-flex;
            @include align-items(center);
            img { margin-left: 10px }
        }
        .email-form {
            @include flex(10);
            display: inline-flex;
            justify-content: space-between;
            flex-wrap: wrap;
            input.ember-text-field {
                width: 400px;
            }
        }
        .space-right {
            margin-right: 10px;
        }
    }
    .friendly-message {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

#me-email-notifications {
    border-bottom: 5px solid $gray-border;
    padding-bottom: 20px;
    margin-bottom: 20px;
    @include display-flex;
    @include flex-direction(column);

    .row {
        @include display-flex;
        @include flex-direction(row);

        .error, .success {
            border-top-width: 0px;
            font-weight: bold;

            padding: 0px 10px 10px 20px;
        }

        .error {
            color: rgb(216, 0, 41);
        }

        .success {
            color: green;
        }
    }

    .button-container {
        margin-right: 1rem;
    }

    ul {
        padding: 0;
        @include flex-grow(1);

        li {
            background-color: #fff;
            display: block;
            position: relative;
            border: 1px solid #d5d3cb;
        }

        label {
            padding: 20px 30px;
            width: 100%;
            display: block;
            text-align: left;
            font-weight: bold;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 200ms ease-in;
            overflow: hidden;

            &:before {
                width: 100%;
                height: 10px;
                border-radius: 50%;
                content: '';
                background-color: $main-bg-dark;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale3d(1, 1, 1);
                opacity: 0;
                z-index: -1;
            }

            &:after {
                width: 32px;
                height: 32px;
                content: '';
                border: 2px solid #d5d3cb;
                border-radius: 50%;
                z-index: 2;
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }

        input:checked ~ label {
            &:before {
                transform: translate(-50%, -50%) scale3d(56, 56, 1);
                opacity: 1;
            }

            &:after {
                background-color: #cfc487;
                border-color: #cfc487;
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23383838' fill-rule='nonzero'/%3E%3C/svg%3E ");
                background-repeat: no-repeat;
                background-position: 3px 4px;
            }
        }

        input {
            width: 32px;
            height: 32px;
            order: 1;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            visibility: hidden;
        }
    }

    .right {
        @include flex(2);
        @include display-flex;
        @include justify-content(flex-end);
        @include align-self(center);
    }
}

#me-api {
    @media only screen and (max-width: 350px) {
        .api { display: none; }
    }
}

#my-crate-lists {
    @include flex-direction(column);
    @include flex-grow(2);
    margin-right: 20px;

    .header {
        @include display-flex;
        @include justify-content(space-between);
        @include align-items(center);
    }
}

#my-info {
    @include display-flex;

    @media only screen and (max-width: 750px) {
        @include flex-direction(column);

        #my-feed { @include order(0); }
        #my-crate-lists {
            @include order(1);
            margin-right: 0;
        }
        #my-crates, #my-following { margin: 0; }
    }
}

#my-feed {
    @include flex-grow(5);
    h2 { font-size: 105%; }

    .row {
        @include display-flex;
        @include flex-direction(column);
    }

    .small { padding-left: 10px; }

    .info {
        @include display-flex;
        @include align-items(baseline);
        @include justify-content(space-between);

        .date { @include flex-grow(2); text-align: right; }
    }

    .load-more {
        $bg: rgb(219, 217, 207);
        text-align: center;
        padding: 10px;
        outline: 0;
        border: 0;
        margin-bottom: 20px;
        background-color: $bg;
        color: white;
        &:hover, &:focus { background-color: darken($bg, 10%); }
    }
}

#my-invites {
    @include flex-grow(5);

    .row {
        @include display-flex;
        @include flex-direction(column);
    }

    .info {
        @include display-flex;
        @include align-items(baseline);
        @include justify-content(space-between);

        .date { @include flex-grow(2); text-align: right; }
        .label {
            .small-text {
                font-size: 90%;
            }
        }
        .name {
            width: 200px;
        }
    }
}

#stats {
    margin-left: auto;
    padding: 10px;

    span { margin-left: 10px; }
    .num {
        font-size: 30px;
        font-weight: bold;
    }
    .downloads {
        @include display-flex;
        @include align-items(center);
    }
}

.me-subheading {
    @include display-flex;
    .right {
        @include flex(2);
        @include display-flex;
        @include justify-content(flex-end);
        @include align-self(center);
    }
}

#tokens {
    background-color: $main-bg-dark;
    @include display-flex;
    @include flex-direction(column);
    .row {
        width: 100%;
        border: 1px solid #d5d3cb;
        border-bottom-width: 0px;
        &:last-child { border-bottom-width: 1px; }
        padding: 10px 20px;
        @include display-flex;
        @include align-items(center);
        .name {
            @include flex(1);
            margin-right: 0.4em;
            font-weight: bold;
        }
        .dates {
            @include flex(content);
            @include display-flex;
            @include flex-direction(column);
            @include align-items(flex-end);
            margin-right: 0.4em;
        }
        .actions {
            @include display-flex;
            @include align-items(center);
            img { margin-left: 10px }
        }
    }
    .create-token {
        .name {
            input {
                width: 100%;
            }
            padding-right: 20px;
            margin-right: 0px;
        }
        background-color: $main-bg-dark;
    }
    .new-token {
        border-top-width: 0px;
        @include flex-direction(column);
        @include justify-content(stretch);
    }
    .error {
        border-top-width: 0px;
        font-weight: bold;
        color: rgb(216, 0, 41);
        padding: 0px 10px 10px 20px;
    }
}
