#me-profile {
    border-bottom: 5px solid $gray-border;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .info { @include display-flex; }
    dl {
        margin: 0 0 0 30px;
        line-height: 150%;
        font-size: 110%;
        dt {
            font-weight: bold;
            width: 150px;
            text-align: right;
            float: left;
            clear: both;
        }
        dd { float: left; margin-left: 10px; }
        .align-center {
            @include align-items(center);
        }
        .row {
            width: 100%;
            border: 1px solid #d5d3cb;
            border-bottom-width: 0px;
            &:last-child { border-bottom-width: 1px; }
            padding: 10px 20px 10px 0;
            @include display-flex;
            background-color: $main-bg-dark;
            .small-text {
                font-size: 90%;
            }
            .error {
                color: rgb(216, 0, 41);
            }
            .label {
                @include flex(1);
                margin-right: 0.4em;
                font-weight: bold;
            }
            .actions {
                @include display-flex;
                @include align-items(center);
            }
            .space-left {
                margin-left: 10px;
            }
            .space-right {
                margin-right: 10px;
            }
            .no-space-left {
                margin-left: 0px;
            }
            p {
                width: 80%;
            }
            .space-bottom {
                margin-bottom: 10px;
            }
        }
    }

    @media only screen and (max-width: 550px) {
        .info img { display: none; }
    }
}

#me-email {
    border-bottom: 5px solid $gray-border;
    padding-bottom: 20px;
    margin-bottom: 20px;
    @include display-flex;
    @include flex-direction(column);
    .row {
        width: 100%;
        border: 1px solid #d5d3cb;
        border-bottom-width: 0px;
        &:last-child { border-bottom-width: 1px; }
        padding: 10px 20px;
        @include display-flex;
        @include align-items(center);
        .label {
            @include flex(1);
            margin-right: 0.4em;
            font-weight: bold;
        }
        .email {
            @include flex(20);
            .verified {
                color: green;
                font-weight: bold;
            }
        }
        .actions {
            @include display-flex;
            @include align-items(center);
            img { margin-left: 10px }
        }
        .email-form {
            @include flex(10);
            display: inline-flex;
            justify-content: space-between;
            flex-wrap: wrap;
            input.ember-text-field {
                width: 400px;
            }
        }
        .space-right {
            margin-right: 10px;
        }
    }
    .friendly-message {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

#me-api {
    @media only screen and (max-width: 350px) {
        .api { display: none; }
    }
}

#my-crate-lists {
    @include flex-direction(column);
    @include flex-grow(2);
    margin-right: 20px;

    .header {
        @include display-flex;
        @include justify-content(space-between);
        @include align-items(center);
    }
}

#my-info {
    @include display-flex;

    @media only screen and (max-width: 750px) {
        @include flex-direction(column);

        #my-feed { @include order(0); }
        #my-crate-lists {
            @include order(1);
            margin-right: 0;
        }
        #my-crates, #my-following, #my-favorite-users { margin: 0; }
    }
}

#my-feed {
    @include flex-grow(5);
    h2 { font-size: 105%; }

    .row {
        @include display-flex;
        @include flex-direction(column);
    }

    .small { padding-left: 10px; }

    .info {
        @include display-flex;
        @include align-items(baseline);
        @include justify-content(space-between);

        .date { @include flex-grow(2); text-align: right; }
    }

    .load-more {
        $bg: rgb(219, 217, 207);
        text-align: center;
        padding: 10px;
        outline: 0;
        border: 0;
        margin-bottom: 20px;
        background-color: $bg;
        color: white;
        &:hover, &:focus { background-color: darken($bg, 10%); }
    }
}

#my-invites {
    @include flex-grow(5);

    .row {
        @include display-flex;
        @include flex-direction(column);
    }

    .info {
        @include display-flex;
        @include align-items(baseline);
        @include justify-content(space-between);

        .date { @include flex-grow(2); text-align: right; }
        .label {
            .small-text {
                font-size: 90%;
            }
        }
        .name {
            width: 200px;
        }
    }
}

#stats {
    margin-left: auto;
    padding: 10px;

    span { margin-left: 10px; }
    .num {
        font-size: 30px;
        font-weight: bold;
    }
    .downloads {
        @include display-flex;
        @include align-items(center);
    }
}

.me-subheading {
    @include display-flex;
    .right {
        @include flex(2);
        @include display-flex;
        @include justify-content(flex-end);
        @include align-self(center);
    }
}

#tokens {
    background-color: $main-bg-dark;
    @include display-flex;
    @include flex-direction(column);
    .row {
        width: 100%;
        border: 1px solid #d5d3cb;
        border-bottom-width: 0px;
        &:last-child { border-bottom-width: 1px; }
        padding: 10px 20px;
        @include display-flex;
        @include align-items(center);
        .name {
            @include flex(1);
            margin-right: 0.4em;
            font-weight: bold;
        }
        .dates {
            @include flex(content);
            @include display-flex;
            @include flex-direction(column);
            @include align-items(flex-end);
            margin-right: 0.4em;
        }
        .actions {
            @include display-flex;
            @include align-items(center);
            img { margin-left: 10px }
        }
    }
    .create-token {
        .name {
            input {
                width: 100%;
            }
            padding-right: 20px;
            margin-right: 0px;
        }
        background-color: $main-bg-dark;
    }
    .new-token {
        border-top-width: 0px;
        @include flex-direction(column);
        @include justify-content(stretch);
    }
    .error {
        border-top-width: 0px;
        font-weight: bold;
        color: rgb(216, 0, 41);
        padding: 0px 10px 10px 20px;
    }
}

#my-favorite-users {
    .users {
        .user-item {
            padding: 13px 10px;
            .user-name {
                margin-left: 5px;
            }
            .user-options {
                padding-left: 5px;
                opacity: 0;
                .unfavorite-user {
                    width: 10px;
                    height: 10px;
                }
            }

            &:hover .user-options{
                opacity: 1;
            }
        }
    }
}
