#me-profile {
    border-bottom: 5px solid $gray-border;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .info { @include display-flex; }
    dl {
        margin: 0 0 0 30px;
        line-height: 150%;
        font-size: 110%;
        dt {
            font-weight: bold;
            width: 150px;
            text-align: right;
            float: left;
            clear: both;
        }
        dd { float: left; margin-left: 10px; }
    }

    @media only screen and (max-width: 550px) {
        .info img { display: none; }
    }
}

#me-api {
    @media only screen and (max-width: 350px) {
        .api { display: none; }
    }
}

#my-crate-lists {
    @include flex-direction(column);
    @include flex-grow(2);
    margin-right: 20px;

    .header {
        @include display-flex;
        @include justify-content(space-between);
        @include align-items(center);
    }
}

#my-info {
    @include display-flex;

    @media only screen and (max-width: 750px) {
        @include flex-direction(column);

        #my-feed { @include order(0); }
        #my-crate-lists {
            @include order(1);
            margin-right: 0;
        }
        #my-crates, #my-following { margin: 0; }
    }
}
#my-feed {
    @include flex-grow(5);
    h2 { font-size: 105%; }

    .row {
        @include display-flex;
        @include flex-direction(column);
    }

    .small { padding-left: 10px; }

    .info {
        @include display-flex;
        @include align-items(baseline);
        @include justify-content(space-between);

        .date { @include flex-grow(2); text-align: right; }
    }

    .load-more {
        $bg: rgb(219, 217, 207);
        text-align: center;
        padding: 10px;
        outline: 0;
        border: 0;
        margin-bottom: 20px;
        background-color: $bg;
        color: white;
        &:hover { background-color: darken($bg, 10%); }
    }
}

#stats{
    margin-left: auto;
    padding: 10px;

    span { margin-left: 10px; }
    .num {
        font-size: 30px;
        font-weight: bold;
    }
    .downloads {
        @include display-flex;
        @include align-items(center);
    }
}