.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    .search-sort {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
            padding-inline-end: 6px;
        }
    }
}

.sort-by-label {
    composes: small from './shared/typography.module.css';
}

.list {
    margin-bottom: 20px;
}

.try-again-button {
    composes: yellow-button from './shared/buttons.module.css';
    align-self: center;
    margin-top: 20px;
}
