.inquire-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-s);
  list-style: none;
  padding: 0;
}

.link {
  justify-content: center;
  padding: var(--space-xs) var(--space-s);
  height: inherit;
  min-height: var(--space-2xl);

  strong {
    margin-left: var(--space-3xs);
    font-weight: 500;
  }
}
