.header {
    display: flex;
    align-items: center;

    h1, h2 {
        margin: 0;
        padding: 0;
    }

    h2 {
        margin-top: 10px;
        color: var(--main-color-light);
    }
}

.avatar {
    margin-right: 20px;
}

.header-row {
    display: flex;
    align-items: center;
}

.github-link {
    margin-left: 16px;

    &, &:hover {
        color: var(--main-color);
    }

    svg {
        width: 32px;
        height: 32px;
    }
}

.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.sort-by-label {
    composes: small from './shared/typography.module.css';
}

.list {
    margin-bottom: 20px;
}
