.header {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.github-link {
    &, &:hover {
        color: var(--main-color);
    }

    svg {
        width: 32px;
        height: 32px;
    }
}

.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-s);
}

.list {
    margin-bottom: var(--space-s);
}
