.header {
    display: flex;
    align-items: center;

    h1 {
        padding: 0 10px;
    }
}

.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.sort-by-label {
    composes: small from './shared/typography.module.css';
}

.list {
    background-color: hsl(0, 0%, 100%);
    padding: 0 20px;
    margin-bottom: 20px;
}

.row {
    padding: 20px 0;
    border-bottom: 2px solid var(--gray-border);

    &:last-of-type {
        border: none;
    }
}
