<dl>
  <dt>Name</dt>
  <dd>{{name}}</dd>
  <dt>Slug</dt>
  <dd>{{id}}</dd>
  <dt>Source</dt>
  <dd><a href="{{source}}">{{source}}</a></dd>
</dl>

{{#if session.isLoggedIn}}
  {{#link-to "package.edit" this}}[edit]{{/link-to}}
{{/if}}
