[package]
name = "crates_io_cdn_logs"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.86"
async-compression = { version = "=0.4.11", features = ["gzip", "tokio", "zstd"] }
chrono = { version = "=0.4.38", features = ["serde"] }
derive_deref = "=1.1.1"
percent-encoding = "=2.3.1"
semver = "=1.0.23"
serde = { version = "=1.0.203", features = ["derive"] }
serde_json = "=1.0.118"
tokio = { version = "=1.38.0", features = ["io-util"] }
tracing = "=0.1.40"

[dev-dependencies]
claims = "=0.7.1"
clap = { version = "=4.5.7", features = ["derive"] }
criterion = { version = "=0.5.1", features = ["async_tokio"] }
insta = "=1.39.0"
tokio = { version = "=1.38.0", features = ["fs", "macros", "rt", "rt-multi-thread"] }
tracing-subscriber = { version = "=0.3.18", features = ["env-filter"] }

[[bench]]
name = "count_downloads"
harness = false
