[package]
name = "crates_io_trustpub"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
jsonwebtoken = "=9.3.1"
reqwest = { version = "=0.12.15", features = ["gzip", "json"] }
regex = "=1.11.1"
serde = { version = "=1.0.219", features = ["derive"] }
thiserror = "=2.0.12"

[dev-dependencies]
claims = "=0.8.0"
insta = "=1.43.1"
mockito = "=1.7.0"
tokio = { version = "=1.45.1", features = ["macros", "rt-multi-thread"] }
