[package]
name = "crates_io_trustpub"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[features]
test-helpers = ["dep:mockall"]

[dependencies]
anyhow = "=1.0.98"
async-trait = "=0.1.88"
jsonwebtoken = "=9.3.1"
mockall = { version = "=0.13.1", optional = true }
reqwest = { version = "=0.12.15", features = ["gzip", "json"] }
regex = "=1.11.1"
serde = { version = "=1.0.219", features = ["derive"] }
thiserror = "=2.0.12"
tokio = { version = "=1.45.1", features = ["sync"] }
tracing = "=0.1.41"

[dev-dependencies]
claims = "=0.8.0"
insta = "=1.43.1"
mockito = "=1.7.0"
serde_json = "=1.0.140"
tokio = { version = "=1.45.1", features = ["macros", "rt-multi-thread"] }
