[package]
name = "crates_io_trustpub"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[features]
test-helpers = ["dep:bon", "dep:mockall", "dep:serde_json"]

[dependencies]
anyhow = "=1.0.100"
async-trait = "=0.1.89"
bon = { version = "=3.8.2", optional = true }
chrono = { version = "=0.4.43", features = ["serde"] }
crates_io_version = { path = "../crates_io_version" }
jsonwebtoken = { version = "=10.3.0", features = ["aws_lc_rs"] }
mockall = { version = "=0.14.0", optional = true }
rand = "=0.9.2"
reqwest = { version = "=0.12.28", features = ["gzip", "json"] }
regex = "=1.12.2"
secrecy = "=0.10.3"
serde = { version = "=1.0.228", features = ["derive"] }
serde_json = { version = "=1.0.149", optional = true }
sha2 = "=0.10.9"
thiserror = "=2.0.18"
tokio = { version = "=1.49.0", features = ["sync"] }
tracing = "=0.1.44"

[dev-dependencies]
bon = "=3.8.2"
claims = "=0.8.0"
clap = { version = "=4.5.56", features = ["derive", "env", "unicode", "wrap_help"] }
insta = { version = "=1.46.2", features = ["json", "redactions"] }
mockito = "=1.7.1"
serde_json = "=1.0.149"
tokio = { version = "=1.49.0", features = ["macros", "rt-multi-thread"] }
