<ul>
    {{#each categories as |category|}}
        <li>
            <a href="/category/{{category.slug}}" class="name">
                <span>{{category.category}} ({{format_num category.crates_cnt}})</span>
                <div class="arrow-in-list">
                    {{!svg-jar "right-arrow"}}
                </div>
            </a>
        </li>
    {{/each}}
</ul>
