<ul>
    {{#each crates as |crate|}}
        <li>
            <a href="/crates/{{crate.id}}" class="name">
                <span>{{crate.name}} ({{crate.max_version}})</span>
                <div class="arrow-in-list">
                    {{embed_svg "right-arrow"}}
                </div>
            </a>
        </li>
    {{/each}}
</ul>
