[package]
name = "crates_io_database"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
diesel = "=2.2.6"
diesel_full_text_search = "=2.2.0"

[dev-dependencies]
crates_io_test_db = { path = "../crates_io_test_db" }
diesel-async = { version = "=0.5.2", features = ["postgres"] }
tokio = { version = "=1.41.1", features = ["macros", "rt"] }
