# Location of the *postgres* database. For example, if you have created a
# blank database locally named `cargo_registry`, this would be
# `postgres://postgres@localhost/cargo_registry`.
export DATABASE_URL=

# If you are running a mirror of crates.io, uncomment this line.
# export MIRROR=1

# Key to sign and encrypt cookies with. Must be at least 32 bytes. Change this 
# to a long, random string for production.
export SESSION_KEY=badkeyabcdefghijklmnopqrstuvwxyzabcdef

# If you will be running the tests, set this to another database that you
# have created. For example, if your test database is named
# `cargo_registry_test`, this would look something like
# `postgres://postgres@localhost/cargo_registry_test`
# If you don't plan on running the tests, you can leave this blank.
export TEST_DATABASE_URL=

# Credentials for uploading packages to S3. You can leave these commented
# out if you're not publishing to s3 from your crates.io instance.
# export S3_BUCKET=
# export S3_ACCESS_KEY=
# export S3_SECRET_KEY=
# not needed if the S3 bucket is in US standard
# export S3_REGION=

# Remote and local locations of the registry index. You can leave these to
# use a `tmp` subdirectory of the working directory, which is what the
# script in `./script/init-local-index.sh` will set up for you.
export GIT_REPO_URL=file://./tmp/index-bare
export GIT_REPO_CHECKOUT=./tmp/index-co

# Credentials for talking to github. You can leave these blank if you're
# not logging into your crates.io instance.
# When registering a new application on github for use with your local
# crates.io instance, be sure to set the callback url for that application
# to the address `http://localhost:4200/authorize/github`.
export GH_CLIENT_ID=
export GH_CLIENT_SECRET=

# Credentials for configuring Mailgun. You can leave these commented out
# if you are not interested in actually sending emails. If left empty,
# a mock email will be sent to a file in your local '/tmp/' directory.
# If interested in setting up Mailgun to send emails, you will have
# to create an account with Mailgun and modify these manually.
# If running a crates mirror on heroku, you can instead add the Mailgun
# app to your instance and shouldn't have to mess with these.
# export MAILGUN_SMTP_LOGIN=
# export MAILGUN_SMTP_PASSWORD=
# export MAILGUN_SMTP_SERVER=
