# crates.io
/local_uploads
/tmp
src/schema.rs.orig

# Env
.env
.env.*
!.env.example
!.env.test

# JS
/coverage/*
/coverage_*
node_modules/
.eslintcache

# Svelte
.output
/svelte/.svelte-kit
/svelte/build

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Storybook
*storybook.log
storybook-static

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Rust
/target
.cargo

# insta
*.pending-snap
