[package]
name = "crates_io"
authors = ["Alex Crichton <alex@alexcrichton.com>"]
version = "0.0.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/rust-lang/crates.io"
description = "Backend of crates.io"
edition = "2021"
default-run = "server"

[workspace]
members = ["crates/*"]

[workspace.lints.rust]
future_incompatible = "warn"
nonstandard_style = "warn"
rust_2018_idioms = "warn"
rust_2018_compatibility = "warn"
rust_2021_compatibility = "warn"
unused = "warn"

[workspace.lints.rustdoc]
unescaped_backticks = "warn"

[workspace.lints.clippy]
dbg_macro = "warn"
todo = "warn"

[lints]
workspace = true

[profile.dev.package]
insta.opt-level = 3
similar.opt-level = 3

[profile.release]
opt-level = 2

[lib]
name = "crates_io"
doctest = true

[dependencies]
anyhow = "=1.0.94"
async-compression = { version = "=0.4.18", default-features = false, features = ["gzip", "tokio"] }
async-trait = "=0.1.83"
aws-credential-types = { version = "=1.2.1", features = ["hardcoded-credentials"] }
aws-ip-ranges = "=0.959.0"
aws-sdk-cloudfront = "=1.56.0"
aws-sdk-sqs = "=1.51.0"
axum = { version = "=0.7.9", features = ["macros", "matched-path"] }
axum-extra = { version = "=0.9.6", features = ["cookie-signed", "erased-json", "query", "typed-header"] }
base64 = "=0.22.1"
bigdecimal = { version = "=0.4.7", features = ["serde"] }
bon = "=3.3.0"
cargo-manifest = "=0.17.0"
colored = "=2.2.0"
crates_io_cdn_logs = { path = "crates/crates_io_cdn_logs" }
crates_io_database = { path = "crates/crates_io_database" }
crates_io_database_dump = { path = "crates/crates_io_database_dump" }
crates_io_env_vars = { path = "crates/crates_io_env_vars" }
crates_io_github = { path = "crates/crates_io_github" }
crates_io_index = { path = "crates/crates_io_index" }
crates_io_markdown = { path = "crates/crates_io_markdown" }
crates_io_pagerduty = { path = "crates/crates_io_pagerduty" }
crates_io_tarball = { path = "crates/crates_io_tarball" }
crates_io_team_repo = { path = "crates/crates_io_team_repo" }
crates_io_worker = { path = "crates/crates_io_worker" }
csv = "=1.3.1"
chrono = { version = "=0.4.39", default-features = false, features = ["serde"] }
clap = { version = "=4.5.23", features = ["derive", "env", "unicode", "wrap_help"] }
cookie = { version = "=0.18.1", features = ["secure"] }
deadpool-diesel = { version = "=0.6.1", features = ["postgres", "tracing"] }
derive_more = { version = "=1.0.0", features = ["deref", "deref_mut", "display"] }
dialoguer = "=0.11.0"
diesel = { version = "=2.2.6", features = ["postgres", "serde_json", "chrono", "numeric"] }
diesel-async = { version = "=0.5.2", features = ["async-connection-wrapper", "deadpool", "postgres"] }
diesel_full_text_search = "=2.2.0"
diesel_migrations = { version = "=2.2.0", features = ["postgres"] }
dotenvy = "=0.15.7"
flate2 = "=1.0.35"
futures-util = "=0.3.31"
hex = "=0.4.3"
http = "=1.2.0"
http-body-util = "=0.1.2"
hyper = { version = "=1.5.2", features = ["client", "http1"] }
indexmap = { version = "=2.7.0", features = ["serde"] }
indicatif = "=0.17.9"
ipnetwork = "=0.20.0"
json-subscriber = "=0.2.4"
krata-tokio-tar = "=0.4.2"
lettre = { version = "=0.11.11", default-features = false, features = ["file-transport", "smtp-transport", "hostname", "builder", "tokio1", "tokio1-native-tls"] }
minijinja = "=2.5.0"
mockall = "=0.13.1"
native-tls = "=0.2.12"
oauth2 = "=4.4.2"
object_store = { version = "=0.11.1", features = ["aws"] }
p256 = "=0.13.2"
parking_lot = "=0.12.3"
paste = "=1.0.15"
postgres-native-tls = "=0.5.0"
prometheus = { version = "=0.13.4", default-features = false }
rand = "=0.8.5"
reqwest = { version = "=0.12.9", features = ["gzip", "json"] }
rss = { version = "=2.0.11", default-features = false, features = ["atom"] }
secrecy = "=0.10.3"
semver = { version = "=1.0.24", features = ["serde"] }
sentry = { version = "=0.35.0", features = ["tracing", "tower", "tower-axum-matched-path", "tower-http"] }
serde = { version = "=1.0.216", features = ["derive"] }
serde_json = "=1.0.133"
sha2 = "=0.10.8"
spdx = "=0.10.7"
tar = "=0.4.43"
tempfile = "=3.14.0"
thiserror = "=2.0.8"
tikv-jemallocator = { version = "=0.6.0", features = ['unprefixed_malloc_on_supported_platforms', 'profiling'] }
tokio = { version = "=1.42.0", features = ["net", "signal", "io-std", "io-util", "rt-multi-thread", "macros", "process"]}
tokio-postgres = "=0.7.12"
tokio-util = "=0.7.13"
toml = "=0.8.19"
tower = "=0.5.2"
tower-http = { version = "=0.6.2", features = ["add-extension", "fs", "catch-panic", "timeout", "compression-full"] }
tracing = "=0.1.41"
tracing-subscriber = { version = "=0.3.19", features = ["env-filter", "json"] }
typomania = { version = "=0.1.2", default-features = false }
url = "=2.5.4"
unicode-xid = "=0.2.6"
utoipa = { version = "=5.2.0", features = ["chrono"] }
utoipa-axum = "=0.1.2"

[dev-dependencies]
bytes = "=1.9.0"
crates_io_github = { path = "crates/crates_io_github", features = ["mock"] }
crates_io_index = { path = "crates/crates_io_index", features = ["testing"] }
crates_io_tarball = { path = "crates/crates_io_tarball", features = ["builder"] }
crates_io_team_repo = { path = "crates/crates_io_team_repo", features = ["mock"] }
crates_io_test_db = { path = "crates/crates_io_test_db" }
claims = "=0.8.0"
diesel = { version = "=2.2.6", features = ["r2d2"] }
googletest = "=0.13.0"
insta = { version = "=1.41.1", features = ["glob", "json", "redactions"] }
regex = "=1.11.1"
tokio = "=1.42.0"
zip = { version = "=2.2.2", default-features = false, features = ["deflate"] }
