.row {
    --bg-color: var(--grey200);
    --fg-color: var(--grey700);

    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    padding: 15px 25px;
    transition: background-color 300ms;

    &:hover {
        background-color: var(--grey200);
        transition: background-color 0ms;
    }

    & >:nth-child(2) {
        flex-grow: 1;
    }

    &.latest {
        --bg-color: hsl(109, 75%, 87%);
        --fg-color: hsl(136, 67%, 38%);
    }

    &.prerelease {
        --bg-color: hsl(39, 100%, 91%);
        --fg-color: hsl(39, 71%, 45%);
    }

    &.yanked {
        --bg-color: hsl(0, 92%, 90%);
        --fg-color: hsl(0, 84%, 32%);
    }
}

.release-track {
    display: grid;
    place-items: center;
    width: 3em;
    height: 3em;
    margin-right: 20px;
    font-weight: 500;
    color: var(--fg-color);
    background-color: var(--bg-color);
    border: 2px solid white;
    border-radius: 50%;

    > svg {
        height: 1em;
        width: auto;
    }
}

.num-link {
    color: var(--fg-color);
    font-weight: 500;
    font-variant-numeric: tabular-nums;

    &:hover {
        color: var(--fg-color);
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.date {
    margin-left: 20px;
    position: relative;
    color: var(--grey600);
    text-transform: uppercase;
    letter-spacing: .7px;
    font-size: 13px;
}

.yank-button {
    position: relative;
    margin-left: 10px;
}
