<div local-class="row" ...attributes>
  <div>
    <LinkTo
      @route="crate.version"
      @model={{@version.num}}
      local-class="num-link"
    >
      {{@version.num}}
    </LinkTo>

    {{#if @version.yanked}}
      <span local-class='yanked'>yanked</span>
    {{/if}}
  </div>

  <span local-class="date">{{date-format @version.created_at 'PPP'}}</span>

  {{#if this.isOwner}}
    <YankButton @version={{@version}} local-class="yank-button" />
  {{/if}}
</div>
