.me-subheading {
    display: flex;

    .right {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
}

.new-token-button {
    composes: yellow-button from '../../styles/shared/buttons.module.css';
}

.token-list {
    background-color: var(--main-bg-dark);
    display: flex;
    flex-direction: column;
}
