{% extends "base.txt.j2" %}

{% block content %}
Hello {{ recipient }}!

{% if recipient == auth_user.gh_login -%}
You changed the publishing method restriction for your crate "{{ krate.name }}".
{%- else -%}
crates.io user {{ auth_user.gh_login }} changed the publishing method restriction for a crate that you manage ("{{ krate.name }}").
{%- endif %}

{% if trustpub_only -%}
This crate can now ONLY be published via Trusted Publishing. Publishing with API tokens has been disabled.

This means that only trusted publishers (like GitHub Actions or GitLab CI workflows) that you have configured will be able to publish new versions of this crate. API tokens will no longer work for publishing.
{%- else -%}
This crate can now be published via both Trusted Publishing and API tokens.

This means that both trusted publishers (like GitHub Actions or GitLab CI workflows) and users with API tokens will be able to publish new versions of this crate.
{%- endif %}

If you did not make this change and you think it was made maliciously, you can revert the setting from the "Settings" tab on the crate's page.

If you are unable to revert the change and need to do so, you can email help@crates.io for assistance.
{% endblock %}
