<span class="badge" ...attributes>
  {{#unless this.none}}
    <img
        src="https://img.shields.io/badge/maintenance-{{this.escapedStatus}}-{{this.color}}.svg"
        alt="{{this.text}}"
        title="{{this.text}}">
  {{/unless}}
  
</span>