<span ...attributes>
  {{#unless this.none}}
    <a href="https://doc.rust-lang.org/cargo/reference/manifest.html#the-badges-section">
      <img
          src="https://img.shields.io/badge/maintenance-{{this.escapedStatus}}-{{this.color}}.svg"
          alt="{{this.text}}"
          title="{{this.text}}">
    </a>
  {{/unless}}

</span>