.list {
    list-style: none;
    padding: 0;
}

.row {
    margin: 8px 0;
}

.link {
    color: #525252;
    background-color: #edebdd;
    font-size: 90%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}

.download-icon {
    color: #b13b89;
    margin-left: auto;
    margin-right: 4px;
}
