.crate-row {
    --shadow: 0 1px 3px hsla(51, 90%, 42%, .35);

    display: flex;
    flex-wrap: wrap;
    padding: 15px 25px;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: all 300ms;
}

.description-box {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.name {
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 120%;
    overflow-wrap: break-word;
}

.version {
    margin-left: 10px;
}

.copy-button {
    composes: button-reset from '../styles/shared/buttons.module.css';
    padding: 1px 6px;
    color: var(--main-color);
    cursor: pointer;
    opacity: 0;
    transition: 250ms;

    .crate-row:hover & {
        opacity: .8;
        transition: 0s;
    }

    .crate-row:hover &:hover, &:focus {
        opacity: 1;
        transition: 0s;
    }

    svg {
        height: 1rem;
        width: 1rem;
    }
}

.description {
    composes: small from '../styles/shared/typography.module.css';
    margin-top: 8px;
}

.stats {
    width: 30%;
    color: var(--main-color-light);
}

.downloads {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.recent-downloads {
    display: flex;
    align-items: center;
}

.updated-at {
    padding-top: 5px;
    display: flex;
    align-items: center;

    svg {
        padding: 10px;
    }
}

ul.quick-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-size: 80%;
    list-style-type: none;
    margin: 1em 0 0 0;
    padding: 0;


    li {
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }
    }
}
