.heading {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: var(--space-xs);
    margin: 0;
    padding: 0;
    word-break: break-word;

    small {
        color: var(--main-color-light);
    }
}

.yanked-badge {
    background: #d30000;
    border-radius: 99999px;
    padding: var(--space-3xs) var(--space-s);
    font-size: var(--space-s);
    color: white;
    align-self: center;
    display: inline-flex;
    align-items: center;
    gap: var(--space-3xs);
    white-space: nowrap;
    cursor: default;

    svg {
        width: 1em;
        height: 1em;
        flex-shrink: 0;
    }
}

.description {
    margin-top: var(--space-xs);
    line-height: 1.35;
}

.keywords {
    list-style: none;
    margin: var(--space-xs) 0 0;
    padding: 0;

    > * {
        display: inline;

        + * {
            margin-left: var(--space-s);
        }
    }
}

.hash {
    margin-right: 1px;
    font-family: var(--font-monospace);
    font-size: 90%;
}

.follow-button {
    margin-top: var(--space-s);
}

.nav {
    margin-bottom: var(--space-s);
}

@media only screen and (min-width: 751px) {
    .header {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .follow-button {
        margin: -10px -10px 0 var(--space-s);
        grid-column: 2;
        grid-row: 1;
    }

    .description, .keywords {
        grid-column: 1 / 3;
    }
}
