.authorship {
    .top, .bottom {
        display: flex;
        flex-wrap: wrap;

        > * { margin-right: 1em; }
    }

    .top > * { flex: 1 }

    @media only screen and (min-width: 890px) {
        flex: 3;
        border-left: 2px solid var(--gray-border);
        padding-left: 20px;

        .top, .bottom {
            flex-direction: column;
        }

        ul {
            padding-left: 20px;
        }
    }

    @media only screen and (max-width: 480px) {
        .top, .bottom {
            flex-direction: column;
        }
    }
}

.last-update,
.crate-size {
    composes: small from '../styles/shared/typography.module.css';
    line-height: 25px;
}

.date {
    font-weight: bold;
    margin-bottom: 40px;
}

/*
    Since crate_size is a new field, older crates won't have it.
    Preserve behaviour for older crates. For newer ones, keep
    `Crate Size` closer to last updated.
*/
.date-with-small-margin-bot {
    font-weight: bold;
    margin-bottom: 20px;
}

.size {
    font-weight: bold;
    margin-bottom: 40px;
}

.copy-help {
    font-size: 12px;
}

.copy-button,
.copy-fallback {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 7px 12px;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5em;
    color: var(--main-color);
    background: transparent;
    border-radius: 5px;
    border: solid 2px var(--gray-border);
}

.copy-button {
    text-align: start;
    cursor: pointer;

    &:hover {
        background-color: white;
    }
}

.copy-icon {
    flex-shrink: 0;
    height: 1.1em;
    width: auto;
    /* for slightly nicer alignment... */
    margin-top: -3px;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 100ms;

    .copy-button:hover & {
        opacity: 1;
    }
}

ul.owners, ul.keywords {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin: 0 7px 7px 0;
    }
}

.yanked {
    composes: yanked from '../styles/shared/typography.module.css';
}

.more-versions-link {
    composes: small from '../styles/shared/typography.module.css';
}
