<span class="vers" ...attributes>
  <img
      src="https://img.shields.io/badge/crates.io-v{{ this.version }}-{{ this.color }}.svg?longCache=true"
      alt="{{ this.crate.max_version }}"
      title="{{ this.crate.name }}’s current version badge"
      data-test-version-badge>
  
</span>