<PageHeader local-class="header" data-test-heading>
  <div local-class="header-row">
    <div local-class="heading">
      {{svg-jar "crate" local-class="crate-icon"}}
      <h1 data-test-crate-name>{{@crate.name}}</h1>
      {{#if @version}}
        <h2 data-test-crate-version>{{@version.num}}</h2>
      {{/if}}
    </div>

    {{#if this.session.currentUser}}
      <FollowButton @crate={{@crate}}/>
    {{/if}}
  </div>
</PageHeader>