.crate-toml-copy {
    button, button:active {
        background-color: #FFFFFF;
        border: none;
        cursor: pointer;
        position: relative;
    }

    &.inline {
        display: inline-block;

        button, button:active {
            padding: 0 .2rem;
            outline: 0;

            &:hover {
                background: inherit;
            }

            svg {
                height: 1rem;
                width: 1rem;
            }
        }
    }

    &.block {
        display: flex;

        button, button:active {
            padding: 5px 0;
            width: 60px;
            cursor: pointer;
            position: relative;
        }

        button:hover {
            background: #edebdd;
        }
    }
}
