.sidebar {
    display: flex;
    flex-direction: column;

    > * + * {
        margin-top: var(--space-m);
    }
}

.heading {
    font-size: 1.17em;
    margin: 0 0 var(--space-s);
}

.metadata {
    > * + * {
        margin-top: var(--space-2xs);
    }
}

.date,
.msrv,
.license,
.bytes {
    display: flex;
    align-items: center;

    svg {
        flex-shrink: 0;
        margin-right: var(--space-2xs);
        height: 1em;
        width: auto;
    }
}

.date,
.msrv {
    [title], :global(.ember-tooltip-target) {
        cursor: help;
    }
}

.edition {
    margin-top: var(--space-2xs);
}

.license {
    a {
        color: var(--main-color);
    }
}

.bytes {
    font-variant-numeric: tabular-nums;
}

.links {
    > * + * {
        margin-top: var(--space-m);
    }
}

.more-versions-link,
.reverse-deps-link {
    composes: small from '../styles/shared/typography.module.css';
}

.categories {
    margin: 0;
    padding-left: 20px;
    line-height: 1.5;
}

.button {
    justify-content: center;
    width: 220px;
}

.report-button {
    composes: button;
    composes: red-button small from '../styles/shared/buttons.module.css';
}

.playground-button {
    composes: button;
    composes: yellow-button small from '../styles/shared/buttons.module.css';
    margin-bottom: var(--space-2xs);
}

.playground-help {
    composes: small from '../styles/shared/typography.module.css';
    max-width: 220px;
    text-align: justify;
    line-height: 1.3em;
}
