<div local-class="crate-toml-copy {{if @inline "inline" "block"}}" ...attributes>
  <button
    type="button"
    title="Copy Cargo.toml snippet to clipboard"
    {{on "click" this.copy}}
  >
    {{svg-jar "copy" alt="Copy Cargo.toml snippet to clipboard"}}
  </button>
</div>