<div local-class="crate-toml-copy {{if @inline "inline" "block"}}" ...attributes>
  <CopyButton @copyText={{@copyText}} title="Copy Cargo.toml snippet to clipboard">
    {{svg-jar "copy" alt="Copy Cargo.toml snippet to clipboard"}}
  </CopyButton>
</div>