.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-row {
    display: flex;
    justify-content: space-between;
}

.heading {
    display: flex;
    align-items: center;

    h1, h2 {
        margin: 0;
        padding: 0;
    }

    h1 {
        word-break: break-word;
    }

    h2 {
        color: var(--main-color-light);
        margin-left: 10px;
    }
}

.crate-icon {
    flex-shrink: 0;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.description {
    margin-top: 15px;
    line-height: 1.35;
}

.keywords {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;

    > li {
        display: inline;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}

.hash {
    margin-right: 1px;
    font-family: var(--font-monospace);
    font-size: 90%;
}

.nav {
    margin-bottom: 20px;
}
