<div ...attributes>
  {{!-- The extra div wrapper is needed for specificity issues with `margin` --}}
  <ol local-class="list">
    {{#each @crates as |crate index|}}
      <li local-class="row">
        <CrateRow @crate={{crate}} data-test-crate-row={{index}} />
      </li>
    {{/each}}
  </ol>
</div>