.list {
    list-style: none;
    padding: 0;
}

.row {
    margin: 8px 0;
}

.link {
    color: hsl(0, 0%, 32%);
    background-color: hsl(52, 31%, 90%);
    font-size: 90%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
