.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row {
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.exact-match:not(:last-child) {
    margin-bottom: 60px;

    h1 {
        margin-top: 0;
        color: green
    }
}
