.wrapper {
    display: grid;
    place-items: center;
    border: solid 1px var(--gray-border);
    border-radius: 5px;
    min-height: 400px;
}

.spinner {
    transform: scale(3.0);
}

.error {
    text-align: center;
}
