<div
  local-class="container"
  ...attributes
  {{on-click-outside (fn (mut this.dropdownExpanded) false)}}
  {{on-key 'Escape' (fn (mut this.dropdownExpanded) false)}}
>
  {{yield (hash
    Trigger=(component "dropdown/trigger" toggle=this.toggleDropdown)
    Content=(component "dropdown/content" isExpanded=this.dropdownExpanded)
    Menu=(component "dropdown/menu" Content=(component "dropdown/content" isExpanded=this.dropdownExpanded))
  )}}
</div>