.friendly-message {
    margin-top: 0;
}

.row {
    width: 100%;
    border: 1px solid var(--gray-border);
    border-bottom-width: 0;
    padding: var(--space-2xs) var(--space-s);
    display: flex;
    align-items: center;

    &:last-child {
        border-bottom-width: 1px;
    }
}

.label {
    flex: 1;
    margin-right: var(--space-xs);
    font-weight: bold;
}

.email-column {
    flex: 20;
}

.verified {
    color: green;
    font-weight: bold;
}

.email-form {
    flex: 10;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input {
    width: 400px;
    margin-right: var(--space-xs);
}

.actions {
    display: flex;
    align-items: center;
}

.save-button,
.cancel-button,
.edit-button,
.resend-button {
    composes: yellow-button small from '../styles/shared/buttons.module.css';
}

.save-button {
    margin-right: var(--space-2xs);
}
