.friendly-message {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.email-column {
    flex: 20;
}

.verified {
    color: green;
    font-weight: bold;
}

.actions {
    display: flex;
    align-items: center;
}

.save-button,
.cancel-button,
.edit-button,
.resend-button {
    composes: yellow-button small from '../styles/shared/buttons.module.scss';
}
