.flash {
    display: none;
    font-weight: bold;
    font-size: 110%;
    background-color: rgb(255, 213, 213);
    border: 2px solid rgb(228, 136, 136);
    text-align: center;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 5px;

    &.shown {
        display: block;
    }
}
