<footer local-class="footer">
  <div local-class="content">
    <div>
      <h1>Rust</h1>
      <ul role="list">
        <li><a href="https://www.rust-lang.org/">rust-lang.org</a></li>
        <li><a href="https://foundation.rust-lang.org/">Rust Foundation</a></li>
        <li><a href="https://www.rust-lang.org/governance/teams/crates-io">the crates.io team</a></li>
      </ul>
    </div>

    <div>
      <h1>Get Help</h1>
      <ul role="list">
        <li><a href="https://doc.rust-lang.org/cargo/">The Cargo Book</a></li>
        <li><a href="mailto:help@crates.io">Email Support</a></li>
        <li><a href="https://status.crates.io/">System Status</a></li>
        <li><a href="https://github.com/rust-lang/crates.io/issues/new/choose">Report a bug</a></li>
      </ul>
    </div>

    <div>
      <h1>Policies</h1>
      <ul role="list">
        <li><LinkTo @route="policies">Package Policies</LinkTo></li>
        <li><a href="https://www.rust-lang.org/policies/security">Security</a></li>
        <li><a href="https://foundation.rust-lang.org/policies/privacy-policy/">Privacy Policy</a></li>
        <li><a href="https://www.rust-lang.org/policies/code-of-conduct">Code of Conduct</a></li>
        <li><LinkTo @route="data-access">Data Access</LinkTo></li>
      </ul>
    </div>

    <div>
      <h1>Social</h1>
      <ul role="list">
        <li><a href="https://github.com/rust-lang/crates.io/">{{svg-jar "github"}} rust-lang/crates.io</a></li>
        <li><a href="https://twitter.com/cratesiostatus">{{svg-jar "twitter"}} @cratesiostatus</a></li>
        <li><a href="https://discord.gg/rust-lang">{{svg-jar "discord"}} #crates-io-team</a></li>
      </ul>
    </div>
  </div>
</footer>