.header {
    display: grid;
    width: 100%;
    padding: 20px;
    color: white;

    align-items: center;
    grid-template:
        "index-link . menu" auto
        "search-form search-form search-form" auto
        / auto 1fr auto;

    @media only screen and (min-width: 551px) {
        grid-template:
            "index-link search-form menu" auto
            / auto 1fr auto;
    }

    @media only screen and (min-width: 890px) {
        grid-template:
            "index-link search-form nav login" auto
            / auto minmax(150px, 400px) minmax(220px, 1fr) auto;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}

.header-inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

}

.index-link {
    grid-area: index-link;
    display: flex;
    align-items: center;

    h1 {
        font-size: 24px;
        margin: 0;
    }
}

.logo {
    width: 60px;
    height: auto;
    margin: -10px 10px -10px -10px;
}

.search-form {
    grid-area: search-form;
    margin-top: 15px;
    display: flex;
    flex-grow: 1;

    @media only screen and (min-width: 551px) {
        margin: 0 20px;
    }
}

input.search {
    font-size: 90%;
    border: none;
    color: black;
    width: 100%;
    padding: 5px 5px 5px 25px;
    background-color: white;
    background-image: url('/assets/search.png');
    background-repeat: no-repeat;
    background-position: 6px 6px;
    background-size: 14px 15px;
    border-radius: 15px;
    box-shadow: none;
    transition: box-shadow 150ms;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 4px var(--yellow500);
    }
}

.search-label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.sep {
    margin: 0 10px;
    color: var(--separator-color);
}

.doc-links {
    left: auto;
    min-width: 150px;
}

.nav {
    grid-area: nav;
    display: none;
    align-items: center;
    text-align: right;
    margin-right: 5px;

    @media only screen and (min-width: 890px) {
        display: flex;
    }
}

.login {
    display: none;

    @media only screen and (min-width: 890px) {
        display: block;
    }
}

.menu {
    grid-area: menu;
    text-align: right;

    @media only screen and (min-width: 890px) {
        display: none;
    }
}

.menu-item-with-separator {
    border-top: 1px solid var(--gray-border);
}

.login-button {
    composes: button-reset from '../styles/shared/buttons.module.css';
    display: inline-flex;
    align-items: center;
    margin: 0 -5px;
    padding: 5px;
    cursor: pointer;

    &:disabled {
        cursor: wait;
    }

    .spinner {
        margin-right: 6px;
    }
}

.login-icon {
    width: 16px;
    margin-right: 6px;
    color: #141414;
    opacity: 0.5;
}

.avatar {
    margin-right: 0.5em;
}

.current-user-links {
    left: auto;
    right: 0;
    min-width: 200px;
}

.dropdown-button {
    background: none;
    border: 0;
    padding: 10px 0;

    img {
        vertical-align: top;
    }
}

.login-menu-item,
.logout-menu-item {
    composes: button-reset from '../styles/shared/buttons.module.css';
    cursor: pointer;

    &:disabled {
        cursor: wait;
    }

    .spinner {
        margin-right: 6px;
    }
}
