.header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-inner {
    composes: width-limit from '../styles/application.module.css';

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    color: white;

    a {
        color: white; text-decoration: none;
        &:hover { color: white; }
    }
}

.index-link {
    display: flex;
    align-items: center;

    h1 {
        font-size: 24px;
    }
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.desktop-search-form {
    display: flex;
    flex-grow: 1;

    @media only screen and (max-width: 820px) {
        display: none;
    }
}

input.search {
    font-size: 90%;
    border: none;
    color: black;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    padding: 5px 5px 5px 25px;
    background-color: white;
    background-image: url('/assets/search.png');
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 14px 15px;
    border-radius: 15px;
    box-shadow: none;
    transition: box-shadow 150ms;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 4px var(--yellow500);
    }
}

.mobile-search {
    display: none;
    grid-row: 2;
    grid-column: span 3;
    margin: 0 10px 10px;

    input.search {
        margin: 0;
    }

    @media only screen and (max-width: 820px) {
        display: block;
    }
}

.search-label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.sep {
    margin: 0 10px;
    color: var(--separator-color);
}

.doc-links {
    left: auto;
    min-width: 150px;
}

.nav {
    display: flex;
    align-items: center;
    text-align: right;
    margin-right: 5px;

    @media only screen and (max-width: 900px) {
        display: none;
    }
}

.menu {
    text-align: right;
    margin-right: 5px;
    flex-grow: 2;
    display: none;

    @media only screen and (max-width: 900px) {
        display: block;
    }
}

.menu-item-with-separator {
    border-top: 1px solid var(--gray-border);
}

.login-button {
    composes: button-reset from '../styles/shared/buttons.module.css';
    display: inline-flex;
    align-items: center;
    margin: 0 -5px;
    padding: 5px;
    cursor: pointer;

    &:disabled {
        cursor: wait;
    }

    .spinner {
        margin-right: 6px;
    }
}

.login-icon {
    width: 16px;
    margin-right: 6px;
    color: #141414;
    opacity: 0.5;
}

.avatar {
    margin-right: 0.5em;
}

.current-user-links {
    left: auto;
    right: 0;
    min-width: 200px;
}

.dropdown-button {
    background: none;
    border: 0;
    padding: 10px 0;

    img {
        vertical-align: top;
    }
}

.login-menu-item,
.logout-menu-item {
    composes: button-reset from '../styles/shared/buttons.module.css';
    cursor: pointer;

    &:disabled {
        cursor: wait;
    }

    .spinner {
        margin-right: 6px;
    }
}
