<span>
  v{{@version.msrv}}

  <Tooltip>
    &quot;Minimum Supported Rust Version&quot;
    {{#if @version.edition}}
      <div local-class="edition">requires Rust Edition {{@version.edition}}</div>
    {{/if}}
  </Tooltip>
</span>