<ul local-class='owners' data-test-owners>
  {{#each @owners as |owner|}}
    <li>
      <LinkTo @route={{owner.kind}} @model={{owner.login}} data-test-owner-link={{owner.login}}>
        <UserAvatar @user={{owner}} @size="medium-small" />
      </LinkTo>
    </li>
  {{/each}}
</ul>