.row {
    background-color: #fff;
    display: block;
    position: relative;
    border: 1px solid #d5d3cb;
}

.label {
    padding: 20px 30px;
    width: 100%;
    display: block;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #d5d3cb;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.label.checked {
    background-color: var(--main-bg-dark);

    &:after {
        background-color: #cfc487;
        border-color: #cfc487;
        background-image: url('/assets/check-mark.svg');
        background-repeat: no-repeat;
        background-position: 3px 4px;
    }
}

.input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}
