.label {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d5d3cb;
    padding: 20px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: color 200ms ease-in;

    &.checked {
        background-color: var(--main-bg-dark);
    }
}

.name {
    flex-grow: 1;
}

.checkbox {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    border: 2px solid #d5d3cb;
    border-radius: 50%;

    .checked & {
        background-color: #cfc487;
        border-color: #cfc487;
    }
}

.input {
    composes: sr-only from '../styles/shared/a11y.module.css';
}
