.header {
    padding: var(--space-s) var(--space-m);
    background-color: var(--main-bg-dark);
    margin-bottom: var(--space-s);
    border-radius: 5px;
}

.heading {
    display: flex;
    align-items: baseline;
    margin: 0;
}

.suffix {
    color: var(--main-color-light);
    padding-left: var(--space-2xs);
}

.loading-spinner {
    margin: 0 var(--space-2xs);
}
