<div data-test-page-header ...attributes class="header">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <h1 class="heading">
      {{@title}}
      {{#if @suffix}}
        <small class="suffix">{{@suffix}}</small>
      {{/if}}
      {{#if @showSpinner}}
        <LoadingSpinner class="loading-spinner" data-test-spinner />
      {{/if}}
    </h1>
  {{/if}}
</div>