.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    margin-bottom: var(--space-xs);

    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ol, li { display: inline-block; }

    a {
        color: var(--main-color-light);
        text-decoration: none;
        padding: var(--space-3xs) var(--space-2xs);
        border-radius: var(--space-3xs);
    }
    a:hover { background-color: var(--main-bg-dark); }
    a:global(.active) { background-color: var(--main-bg-dark); }

    img, svg { vertical-align: middle; }


    .prev, .next {
        circle {
            fill: none;
        }

        path {
            fill: currentColor;
        }

        &:hover {
            circle {
                fill: var(--main-bg-dark);
            }
        }
    }

    .next:global(.active),
    .prev:global(.active),
    .next:hover,
    .prev:hover {
        background: none;
    }
}
