.wrapper {
    line-height: 1.5;
    overflow-wrap: break-word;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
    }

    pre {
        overflow-x: auto;
    }

    p {
        code {
            background-color: var(--code);
            padding: 0 4px;
            border-radius: 2px;
        }
    }

    code {
        font-family: var(--font-monospace);
    }

    table {
        border-collapse: collapse;
        display: block;
        overflow-x: auto;

        th, td {
            border: 1px solid var(--rendered-html-table);
            padding: 6px 13px;
        }
    }
}
