<span local-class="results-count" ...attributes>
    Displaying
    <span local-class="highlight" data-test-current-rows>{{@start}}-{{@end}}</span>
    of <span local-class="highlight" data-test-total-rows>{{@total}}</span> {{if @name @name "total results"}}
</span>
