<span ...attributes class="text--small">
    Displaying
    <span class="highlight" data-test-current-rows>{{@start}}-{{@end}}</span>
    of <span class="highlight" data-test-total-rows>{{@total}}</span> {{if @name @name "total results"}}
</span>
