.results-count {
    color: $main-color-light;
    @media only screen and (prefers-color-scheme: dark) {
        color: #bbb;
    }
    font-size: 80%;
}

.highlight {
    color: $main-color;
    @media only screen and (prefers-color-scheme: dark) {
        color: #eee;
    }
    font-weight: bold;
}
