.row {
    --hover-bg-color: hsl(217, 37%, 98%);
    --crate-color: var(--grey700);
    --shadow: 0 1px 3px hsla(51, 90%, 42%, .35);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 18px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: all 300ms;

    &:hover, &.focused {
        background-color: var(--hover-bg-color);
        transition: all 0ms;
    }

    &.focused {
        box-shadow: 0 0 0 3px var(--yellow500), var(--shadow);
    }

    @media only screen and (max-width: 550px) {
        display: block
    }
}

.link {
    color: var(--crate-color);
    font-weight: 500;
    margin-right: 15px;
    outline: none;

    &:hover {
        color: var(--crate-color);
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.range {
    color: var(--grey600);
    text-transform: uppercase;
    letter-spacing: .7px;
    font-size: 13px;
}

.downloads {
    display: flex;
    align-items: center;
    width: 25%;
    padding-bottom: 5px;
    color: var(--main-color-light);
    font-variant: tabular-nums;
}

.download-icon {
    flex-shrink: 0;
    color: #b13b89;
}

.rev-dep-downloads {
    padding-left: 7px;
}
