.page {
    display: grid;
    gap: var(--space-s);

    @media (min-width: 768px) {
        grid-template:
            "menu content" auto /
            200px auto;
    }
}

.content {
    h2:first-child {
        margin-top: var(--space-3xs);
    }
}
