.trigger {
    background-color: var(--main-bg-dark);
    font-size: 85%;
    padding: var(--space-2xs);
    border: none;
    border-radius: var(--space-3xs);
}

.icon {
    color: #1a9c5d;
    margin-right: var(--space-2xs);
}
