.stats-value {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    justify-items: end;
}

.value {
    font-size: var(--space-m-l);
    font-weight: bold;
    line-height: 1em;
}

.label {
    grid-column: 1;
    grid-row: 2;
    color: #76838a;
    font-size: var(--space-s);
    font-weight: normal;
    line-height: 1.6;
}

.icon {
    grid-column: 2;
    grid-row: 1 / 3;
    width: var(--space-l-xl);
    height: var(--space-l-xl);
    margin-left: var(--space-s);
    margin-top: var(--space-3xs);
    color: #76838a;
}
