<div local-class="stats-value" ...attributes>
  {{svg-jar @icon role="img" aria-hidden="true" local-class="icon"}}
  <span local-class="value" data-test-value>{{@value}}</span>
  <span local-class="label">{{@label}}</span>
</div>