<div local-class="preview" data-theme={{@theme}} ...attributes>
  <div local-class="header">
    <div local-class="logo"></div>
    <div local-class="title"></div>
  </div>

  <div local-class="main">
    <div local-class="text"></div>
    <div local-class="text"></div>
    <div local-class="box">
      <div local-class="text"></div>
      <div local-class="text"></div>
    </div>
  </div>

  <div local-class="footer">
    <div local-class="title"></div>
    <div local-class="link"></div>
  </div>
</div>