Hello {{ user_name }}!

A new API token with the name "{{ token_name }}" was recently added to your {{ domain }} account.

If this wasn't you, you should revoke the token immediately: https://{{ domain }}/settings/tokens