Hello {{ recipient }}!

crates.io user {{ user }} removed a "Trusted Publishing" configuration for GitHub Actions from a crate that you manage ({{ krate }}).

Trusted Publishing configuration:

- Repository owner: {{ repository_owner }}
- Repository name: {{ repository_name }}
- Workflow filename: {{ workflow_filename }}
- Environment: {{ environment or "(not set)" }}

If you did not make this change and you think it was made maliciously, you can email help@crates.io to communicate with the crates.io support team.
