.link {
    display: block;
    padding: var(--space-2xs) var(--space-xs);
    border-radius: var(--space-3xs);
    color: var(--main-color-light);
    transition: all var(--transition-medium) ease-in;

    &:hover {
        background-color: var(--main-bg-dark);
        color: var(--main-color);
        transition: none;
    }
}

.active {
    background-color: var(--main-bg-dark);
    color: var(--main-color);

    &:hover {
        background-color: light-dark(#e5e1cd, #262522);
    }
}
