[package]
name = "crates_io_pagerduty"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.98"
reqwest = { version = "=0.12.15", features = ["gzip", "json"] }
secrecy = "=0.10.3"
serde = { version = "=1.0.219", features = ["derive"] }

[dev-dependencies]
clap = { version = "=4.5.39", features = ["derive", "env", "unicode", "wrap_help"] }
tokio = { version = "=1.45.1", features = ["macros", "rt-multi-thread"] }
