[package]
name = "crates_io_pagerduty"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.102"
crates_io_version = { path = "../crates_io_version" }
reqwest = { version = "=0.13.2", features = ["gzip", "json"] }
secrecy = "=0.10.3"
serde = { version = "=1.0.228", features = ["derive"] }

[dev-dependencies]
clap = { version = "=4.5.60", features = ["derive", "env", "unicode", "wrap_help"] }
tokio = { version = "=1.49.0", features = ["macros", "rt-multi-thread"] }
