[package]
name = "crates_io_pagerduty"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.92"
reqwest = { version = "=0.12.9", features = ["gzip", "json"] }
secrecy = "=0.10.3"
serde = { version = "=1.0.214", features = ["derive"] }

[dev-dependencies]
clap = { version = "=4.5.20", features = ["derive", "env", "unicode", "wrap_help"] }
crates_io_env_vars = { path = "../crates_io_env_vars" }
tokio = { version = "=1.41.0", features = ["macros", "rt-multi-thread"] }
