{% extends "base.txt.j2" %}

{% block content %}
Hello {{ user_name }}!

Welcome to crates.io. Please click the link below to verify your email address:

https://{{ domain }}/confirm/{{ token }}

Thank you!
{% endblock %}
