.back-link {
    margin-bottom: 20px;
}

.results-meta {
    margin-bottom: 25px;
}

.list {
    list-style: none;
    background-color: white;
    padding: 0 20px;
    margin: 0 0 20px;
}

.row {
    border-bottom: 2px solid var(--gray-border);

    &:last-of-type {
        border: none;
    }
}

.no-results {
    text-align: center;
    margin: 20px;
}
