.back-link {
    margin-bottom: 20px;
}

.results-meta {
    margin-bottom: 25px;
}

.list {
    background-color: hsl(0, 0%, 100%);
    padding: 0 20px;
    margin-bottom: 20px;
}

.row {
    border-bottom: 2px solid var(--gray-border);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:last-of-type {
        border: none;
    }
}

.stats {
    width: 25%;
    color: var(--main-color-light);
}

.downloads {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.rev-dep-downloads {
    padding-left: 7px
}
