.crate-icon {
    // Icon doesn't align nicely with text (which is being
    // aligned by their baselines) so manual adjustment needed.
    position: relative;
    top: 4px;
}

.crate-readme {
    line-height: 1.5;
    overflow-wrap: break-word;

    img {
        max-width: 100%;
    }

    pre {
        overflow-x: auto;
    }

    p {
        code {
            background-color: #fff;
            padding: 0 2px;
        }
    }

    table {
        border-collapse: collapse;
        display: block;
        overflow-x: auto;

        th, td {
            border: 1px solid #dfe2e5;
            padding: 6px 13px;
        }
    }
}
