.crate-icon {
    // Icon doesn't align nicely with text (which is being
    // aligned by their baselines) so manual adjustment needed.
    position: relative;
    top: 4px;
}

.last-update,
.crate-size {
    color: $main-color-light;
    font-size: 90%;
    line-height: 25px;
}

.size {
    font-weight: bold;
    margin-bottom: 40px;
}

:global(.crate-info .authorship) {
    ul.owners, ul.keywords {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 7px 7px 0;
        }
    }
}
.crate-readme {
    line-height: 1.5;
    overflow-wrap: break-word;

    img {
        max-width: 100%;
    }

    pre {
        overflow-x: auto;
    }

    p {
        code {
            background-color: #fff;
            padding: 0 2px;
        }
    }

    table {
        border-collapse: collapse;
        display: block;
        overflow-x: auto;

        th, td {
            border: 1px solid #dfe2e5;
            padding: 6px 13px;
        }
    }
}

.crate-downloads {
    display: flex;
    flex-wrap: wrap;

    h3 { width: 100%; }
}

.stats {
    flex-grow: 7;
    display: flex;
    flex-wrap: wrap;
}

.stat {
    border-left: 1px solid $gray-border;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;

    .num {
        font-size: 160%;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .num__align {
        position: relative;
        bottom: 0.4rem;
    }
}

.graph {
    flex-grow: 10;
    width: 100%;
    margin: 30px 0;
    padding-bottom: 20px;

    h4 { color: $main-color-light; }

    @media only percy {
        display: none;
    }
}

.graph-data {
    width: 100%;
    height: 500px;
}
