.back-link {
    margin-bottom: 20px;
}

.page-description {
    composes: small from '../shared/typography.module.css';
}

.list {
    margin-top: 10px;
    padding: 0 20px;
    background-color: white;
    list-style: none;

    > li {
        border-bottom: 2px solid #d5d3cb;

        &:last-of-type {
            border: none;
        }
    }
}

.row {
    margin: 0 -20px;
}
