.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-2xs);

    @media only screen and (max-width: 550px) {
        display: block;
    }
}

.page-description {
    @media only screen and (max-width: 550px) {
        display: block;
        margin-bottom: var(--space-s);
    }

    &:global(.is-empty) {
        visibility: hidden;
    }
}
.list {
    list-style: none;
    margin: var(--space-2xs) 0 var(--space-s);
    padding: 0;

    > * + * {
        margin-top: var(--space-2xs);
    }

    &:global(.is-empty) {
        min-height: calc(2 * var(--space-s) + var(--space-xl));
    }
}

.load-more {
    --shadow: 0 1px 3px light-dark(hsla(51, 90%, 42%, .35), #232321);

    /* TODO: move to shared */
    composes: load-more from '../../styles/dashboard.module.css';

    border: 0;
    padding: 0 var(--space-m);

    :not(:global(.is-empty)) + & button {
        border-radius: var(--space-3xs);
        box-shadow: var(--shadow);
        cursor: pointer;
        position: relative;
    }

    :global(.is-empty) + & button {
        background-color: transparent;
        position: relative;
    }

    .loading-spinner {
        display: inline-flex;
        align-items: center;
        position: absolute;
        height: 100%;
        top: 0;
        margin-left: var(--space-2xs);
    }
}
