.crate-info {
    @media only screen and (min-width: 890px) {
        display: grid;
        grid-template-columns: minmax(0, 7fr) minmax(0, 3fr);
    }
}

.docs {
    --shadow: 0 2px 3px hsla(51, 50%, 44%, .35);

    margin-bottom: 25px;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--shadow);

    @media only screen and (max-width: 550px) {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
    }

    @media only screen and (min-width: 890px) {
        margin-bottom: 0;
    }
}

.about {
    line-height: 180%;
    margin-bottom: 40px;

    > h3 {
        margin-top: 0;
    }
}

.no-readme {
    padding: 40px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    overflow-wrap: break-word;

    code {
        font-size: 18px;
        font-weight: 500;
    }
}

.placeholder-title {
    width: 30%;
    height: 25px;
    margin: 15px 0 25px;
    border-radius: 5px;
    opacity: 0.6;
}

.placeholder-subtitle {
    width: 50%;
    height: 20px;
    margin: 35px 0 25px;
    border-radius: 5px;
    opacity: 0.6;
}

.placeholder-text {
    width: 100%;
    height: 16px;
    margin-top: 15px;
    border-radius: 5px;
    opacity: 0.3;
}

.sidebar {
    @media only screen and (min-width: 890px) {
        margin-top: 20px;
        margin-left: 20px;
    }
}

.crate-downloads {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    border-top: 5px solid var(--gray-border);

    h3 { width: 100%; }
}

.stats {
    flex-grow: 7;
    display: flex;
    flex-wrap: wrap;
}

.stat {
    border-left: 1px solid var(--gray-border);
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;

    .num {
        font-size: 160%;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .num__align {
        position: relative;
        bottom: 0.4rem;
    }
}

.stat-description {
    composes: small from '../shared/typography.module.css';
}

.graph {
    flex-grow: 10;
    width: 100%;
    margin: 30px 0;
    padding-bottom: 20px;

    h4 {
        color: var(--main-color-light);
    }

    @media only percy {
        display: none;
    }
}
