.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    @media only screen and (max-width: 550px) {
        display: block;
    }
}

.page-description {
    composes: small from '../shared/typography.module.css';
    word-break: break-word;
    padding-right: 20px;

    @media only screen and (max-width: 550px) {
        display: block;
        margin-bottom: 15px;
    }
}

.search-sort {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
        padding-inline-end: 6px;
    }
}

.list {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;

    li {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}
