div.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.heading {
    display: flex;
    align-items: center;

    h1, h2 {
        margin: 0;
        padding: 0;
    }

    h2 {
        color: var(--main-color-light);
        margin-left: 10px;
    }
}

.crate-icon {
    flex-shrink: 0;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.quick-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-size: 80%;
    list-style-type: none;
    margin: 1em 0 0 0;
    padding: 0;


    li {
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }
    }
}

.crate-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 5px solid var(--gray-border);
    margin-bottom: 20px;

    @media only screen and (min-width: 890px) {
        flex-direction: row;
    }
}

.docs {
    @media only screen and (min-width: 890px) {
        flex: 7;
        padding-right: 20px;
        max-width: 640px;
    }
}

.install {
    font-size: 120%;
    padding: 10px;
    background-color: #dfdbc2;
    display: flex;

    code {
        flex: 1;
        background: var(--main-color);
        color: white;
        padding: 20px;

        @media only screen and (min-width: 500px) {
            flex: 8;
        }
    }
}

.install-action {
    display: none;
    text-align: center;
    padding-top: 18px;
    padding-right: 10px;

    @media only screen and (min-width: 500px) {
        flex: 2;
        display: block;
    }
}

.copy-button {
    composes: button-reset from '../shared/buttons.module.css';
    width: 60px;
    color: var(--main-color);
    background: white;
    cursor: pointer;

    &:hover {
        background: #edebdd;
    }
}

.about {
    line-height: 180%;
    margin-bottom: 40px;
}

.readme {
    margin-top: 20px;
    margin-bottom: 20px;
}

.crate-downloads {
    display: flex;
    flex-wrap: wrap;

    h3 { width: 100%; }
}

.stats {
    flex-grow: 7;
    display: flex;
    flex-wrap: wrap;
}

.stat {
    border-left: 1px solid var(--gray-border);
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;

    .num {
        font-size: 160%;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .num__align {
        position: relative;
        bottom: 0.4rem;
    }
}

.stat-description {
    composes: small from '../shared/typography.module.css';
}

.graph {
    flex-grow: 10;
    width: 100%;
    margin: 30px 0;
    padding-bottom: 20px;

    h4 {
        color: var(--main-color-light);
    }

    @media only percy {
        display: none;
    }
}
