.crate-info {
    @media only screen and (min-width: 890px) {
        display: grid;
        grid-template-columns: minmax(0, 7fr) minmax(0, 3fr);
    }
}

.docs {
    --shadow: 0 2px 3px light-dark(hsla(51, 50%, 44%, .35), #232321);

    margin-bottom: var(--space-l);
    padding: var(--space-m) var(--space-l);
    background-color: light-dark(white, #141413);
    border-radius: var(--space-3xs);
    box-shadow: var(--shadow);

    @media only screen and (max-width: 550px) {
        margin-left: calc(var(--main-layout-padding) * -1);
        margin-right: calc(var(--main-layout-padding) * -1);
        border-radius: 0;
    }

    @media only screen and (min-width: 890px) {
        margin-bottom: 0;
    }
}

.no-readme, .readme-error {
    padding: var(--space-l) var(--space-s);
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    overflow-wrap: break-word;
    line-height: 1.5;

    code {
        font-size: 18px;
        font-weight: 500;
    }
}

.retry-button {
    composes: yellow-button from '../shared/buttons.module.css';
    display: block;
    text-align: center;
    margin: var(--space-s) auto 0;
}

.placeholder-title {
    width: 30%;
    height: 25px;
    margin: var(--space-s) 0 var(--space-m);
    border-radius: var(--space-3xs);
    opacity: 0.6;
}

.placeholder-subtitle {
    width: 50%;
    height: 20px;
    margin: var(--space-l) 0 var(--space-m);
    border-radius: var(--space-3xs);
    opacity: 0.6;
}

.placeholder-text {
    width: 100%;
    height: 16px;
    margin-top: var(--space-xs);
    border-radius: var(--space-3xs);
    opacity: 0.3;
}

.sidebar {
    @media only screen and (min-width: 890px) {
        margin-top: var(--space-m);
        margin-left: var(--space-m);
    }
}

.crate-downloads {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--space-l);
    border-top: 5px solid var(--gray-border);

    h3 { width: 100%; }
}

.stats {
    flex-grow: 7;
    display: flex;
    flex-wrap: wrap;
}

.stat {
    border-left: 1px solid var(--gray-border);
    padding: var(--space-s) var(--space-m);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;

    .num {
        font-size: 160%;
        font-weight: bold;
        margin-bottom: var(--space-3xs);
    }

    .num__align {
        position: relative;
        bottom: 0.4rem;
    }
}

.stat-description {
    composes: small from '../shared/typography.module.css';
}

.graph {
    flex-grow: 10;
    width: 100%;
    margin: var(--space-xs) 0 var(--space-m);

    h4 {
        color: var(--main-color-light);
        float: left;
    }

    @media only percy {
        display: none;
    }
}

.graph-data {
    clear: both;
}

.toggle-stacked {
    float: right;
    margin-top: calc(1.33em - 10px);
    margin-bottom: calc(1.33em - 10px);

    .trigger {
        background-color: var(--main-bg-dark);
        font-size: 85%;
        padding: 10px;
        border: none;
        border-radius: 5px;

        .trigger-label {
            min-width: 65px;
        }
    }

    .dropdown-button {
        background: none;
        border: 0;
    }
}
