.list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}

.heading {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
