.crate-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 5px solid var(--gray-border);
    margin-bottom: 20px;

    @media only screen and (min-width: 890px) {
        flex-direction: row;
    }
}

.docs {
    @media only screen and (min-width: 890px) {
        flex: 7;
        padding-right: 20px;
        max-width: 640px;
    }
}

.about {
    line-height: 180%;
    margin-bottom: 40px;

    > h3 {
        margin-top: 0;
    }
}

.readme {
    margin-bottom: 20px;
}

.crate-downloads {
    display: flex;
    flex-wrap: wrap;

    h3 { width: 100%; }
}

.stats {
    flex-grow: 7;
    display: flex;
    flex-wrap: wrap;
}

.stat {
    border-left: 1px solid var(--gray-border);
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;

    .num {
        font-size: 160%;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .num__align {
        position: relative;
        bottom: 0.4rem;
    }
}

.stat-description {
    composes: small from '../shared/typography.module.css';
}

.graph {
    flex-grow: 10;
    width: 100%;
    margin: 30px 0;
    padding-bottom: 20px;

    h4 {
        color: var(--main-color-light);
    }

    @media only percy {
        display: none;
    }
}
