.crate-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 5px solid $gray-border;
    margin-bottom: 20px;

    @media only screen and (min-width: 890px) {
        flex-direction: row;

        .authorship {
            flex: 3;
            border-left: 2px solid $gray-border;
            padding-left: 20px;

            .top, .bottom {
                flex-direction: column;
            }

            ul {
                padding-left: 20px;
            }
        }
    }

    @media only screen and (max-width: 480px) {
        .authorship {
            .top, .bottom {
                flex-direction: column;
            }
        }
    }

    .authorship {
        .top, .bottom {
            display: flex;

            > * { flex: 1; }
        }
    }

    .date {
        font-weight: bold;
        margin-bottom: 40px;
    }

    /*
        Since crate_size is a new field, older crates won't have it.
        Preserve behaviour for older crates. For newer ones, keep
        `Crate Size` closer to last updated.
    */
    .date-with-small-margin-bot {
        font-weight: bold;
        margin-bottom: 20px;
    }
}
