div.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.heading {
    display: flex;
    align-items: center;

    h1, h2 {
        margin: 0;
        padding: 0;
    }

    h2 {
        color: var(--main-color-light);
        margin-left: 10px;
    }
}

.crate-icon {
    flex-shrink: 0;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.quick-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-size: 80%;
    list-style-type: none;
    margin: 1em 0 0 0;
    padding: 0;


    li {
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }
    }
}

.crate-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 5px solid var(--gray-border);
    margin-bottom: 20px;

    @media only screen and (min-width: 890px) {
        flex-direction: row;
    }
}

.docs {
    @media only screen and (min-width: 890px) {
        flex: 7;
        padding-right: 40px;
        max-width: 640px;
    }
}

.install {
    font-size: 120%;
    padding: 10px;
    background-color: hsl(52, 31%, 82%);
    display: flex;

    code {
        flex: 1;
        background: var(--main-color);
        color: hsl(0, 0%, 100%);
        padding: 20px;

        @media only screen and (min-width: 500px) {
            flex: 8;
        }
    }
}

.install-action {
    display: none;
    text-align: center;
    padding-top: 18px;
    padding-right: 10px;

    @media only screen and (min-width: 500px) {
        flex: 2;
        display: block;
    }
}

.last-update,
.crate-size {
    composes: small from '../shared/typography.module.css';
    line-height: 25px;
}

.date {
    font-weight: bold;
    margin-bottom: 40px;
}

/*
    Since crate_size is a new field, older crates won't have it.
    Preserve behaviour for older crates. For newer ones, keep
    `Crate Size` closer to last updated.
*/
.date-with-small-margin-bot {
    font-weight: bold;
    margin-bottom: 20px;
}

.size {
    font-weight: bold;
    margin-bottom: 40px;
}

.crate-info .authorship {
    ul.owners, ul.keywords {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 7px 7px 0;
        }
    }
}

.more-versions-link {
    composes: small from '../shared/typography.module.css';
}

.authorship {
    .top, .bottom {
        display: flex;
        flex-wrap: wrap;

        > * { margin-right: 1em; }
    }

    .top > * { flex: 1 }

    @media only screen and (min-width: 890px) {
        flex: 3;
        border-left: 2px solid var(--gray-border);
        padding-left: 20px;

        .top, .bottom {
            flex-direction: column;
        }

        ul {
            padding-left: 20px;
        }
    }

    @media only screen and (max-width: 480px) {
        .top, .bottom {
            flex-direction: column;
        }
    }
}


.about {
    line-height: 180%;
    margin-bottom: 40px;
}

.crate-readme {
    line-height: 1.5;
    overflow-wrap: break-word;

    img {
        max-width: 100%;
    }

    pre {
        overflow-x: auto;
    }

    p {
        code {
            background-color: hsl(0, 0%, 100%);
            padding: 0 2px;
        }
    }

    table {
        border-collapse: collapse;
        display: block;
        overflow-x: auto;

        th, td {
            border: 1px solid hsl(210, 10%, 89%);
            padding: 6px 13px;
        }
    }
}

.crate-downloads {
    display: flex;
    flex-wrap: wrap;

    h3 { width: 100%; }
}

.stats {
    flex-grow: 7;
    display: flex;
    flex-wrap: wrap;
}

.stat {
    border-left: 1px solid var(--gray-border);
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;

    .num {
        font-size: 160%;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .num__align {
        position: relative;
        bottom: 0.4rem;
    }
}

.stat-description {
    composes: small from '../shared/typography.module.css';
}

.graph {
    flex-grow: 10;
    width: 100%;
    margin: 30px 0;
    padding-bottom: 20px;

    h4 {
        color: var(--main-color-light);
    }

    @media only percy {
        display: none;
    }
}

.graph-data {
    width: 100%;
    height: 500px;
}

.yanked {
    composes: yanked from '../shared/typography.module.css';
}
