[package]
name = "crates_io_database_dump"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.100"
chrono = { version = "=0.4.42", default-features = false, features = ["clock", "serde"] }
crates_io_version = { path = "../crates_io_version" }
flate2 = "=1.1.5"
minijinja = "=2.12.0"
serde = { version = "=1.0.228", features = ["derive"] }
serde_json = "=1.0.145"
tar = "=0.4.44"
tempfile = "=3.23.0"
toml = "=0.9.8"
tracing = "=0.1.41"
zip = { version = "=6.0.0", default-features = false, features = ["deflate"] }

[dev-dependencies]
crates_io_test_db = { path = "../crates_io_test_db" }
diesel = "=2.3.3"
diesel-async = { version = "=0.7.4", features = ["postgres"] }
insta = { version = "=1.43.2", features = ["glob"] }
tokio = { version = "=1.48.0", features = ["macros", "rt"] }
