[package]
name = "crates_io_database_dump"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.101"
chrono = { version = "=0.4.43", default-features = false, features = ["clock", "serde"] }
crates_io_version = { path = "../crates_io_version" }
flate2 = "=1.1.9"
minijinja = "=2.15.1"
serde = { version = "=1.0.228", features = ["derive"] }
serde_json = "=1.0.149"
tar = "=0.4.44"
tempfile = "=3.25.0"
toml = "=1.0.1"
tracing = "=0.1.44"
zip = { version = "=7.4.0", default-features = false, features = ["deflate"] }

[dev-dependencies]
crates_io_test_db = { path = "../crates_io_test_db" }
diesel = "=2.3.6"
diesel-async = { version = "=0.7.4", features = ["postgres"] }
insta = { version = "=1.46.3", features = ["glob"] }
tokio = { version = "=1.49.0", features = ["macros", "rt"] }
