[package]
name = "crates_io_database_dump"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.95"
chrono = { version = "=0.4.39", default-features = false, features = ["clock", "serde"] }
flate2 = "=1.0.35"
minijinja = "=2.6.0"
serde = { version = "=1.0.217", features = ["derive"] }
serde_json = "=1.0.138"
tar = "=0.4.43"
tempfile = "=3.15.0"
toml = "=0.8.19"
tracing = "=0.1.41"
zip = { version = "=2.2.2", default-features = false, features = ["deflate"] }

[dev-dependencies]
crates_io_test_db = { path = "../crates_io_test_db" }
diesel = "=2.2.6"
diesel-async = { version = "=0.5.2", features = ["postgres"] }
insta = { version = "=1.42.1", features = ["glob"] }
tokio = { version = "=1.43.0", features = ["macros", "rt"] }
