[package]
name = "crates_io_database_dump"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.99"
chrono = { version = "=0.4.42", default-features = false, features = ["clock", "serde"] }
flate2 = "=1.1.2"
minijinja = "=2.12.0"
serde = { version = "=1.0.219", features = ["derive"] }
serde_json = "=1.0.143"
tar = "=0.4.44"
tempfile = "=3.22.0"
toml = "=0.9.5"
tracing = "=0.1.41"
zip = { version = "=5.0.1", default-features = false, features = ["deflate"] }

[dev-dependencies]
crates_io_test_db = { path = "../crates_io_test_db" }
diesel = "=2.2.12"
diesel-async = { version = "=0.6.1", features = ["postgres"] }
insta = { version = "=1.43.2", features = ["glob"] }
tokio = { version = "=1.47.1", features = ["macros", "rt"] }
