.crate-toml-copy {
    button, button:active {
        background-color: #FFFFFF;
        @media only screen and (prefers-color-scheme: dark) {
            background-color: #111;
            color: #eee;
        }
        border: none;
        cursor: pointer;
        position: relative;
    }
    button:hover {
        @media only screen and (prefers-color-scheme: dark) {
            background: #090909;
            color: #eee;
        }
    }

    .copy-notification {
        font-size: 70%;
        font-weight: bold;
        position: absolute;

        &.copy-success {
            color: $link-color;
        }
        &.copy-failure {
            color: red;
        }
    }
}
