.content {
    display: flex;
    align-items: center;
}

.title {
    composes: heading from '../crate-sidebar.module.css';
}

.icon {
    flex-shrink: 0;
    height: 1em;
    width: auto;
    margin-right: var(--space-2xs);
}

.link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
