.content {
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.17em;
    margin: 0 0 var(--space-s);
}

.icon {
    flex-shrink: 0;
    height: 1em;
    width: auto;
    margin-right: var(--space-2xs);
}

.link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
