[package]
name = "crates_io_tarball"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[features]
builder = ["dep:flate2", "dep:tar"]

[dependencies]
astral-tokio-tar = "=0.5.2"
cargo-manifest = "=0.19.1"
flate2 = { version = "=1.1.1", optional = true }
serde = { version = "=1.0.219", features = ["derive"] }
serde_json = "=1.0.140"
tar = { version = "=0.4.44", optional = true }
thiserror = "=2.0.12"
tracing = "=0.1.41"
tokio = { version = "=1.45.1", features = ["io-util", "macros", "rt-multi-thread"] }
async-compression = { version = "=0.4.23", default-features = false, features = ["gzip", "tokio"] }
futures-util = "=0.3.31"

[dev-dependencies]
anyhow = "=1.0.98"
claims = "=0.8.0"
clap = { version = "=4.5.39", features = ["derive", "unicode", "wrap_help"] }
flate2 = { version = "=1.1.1" }
indicatif = { version = "=0.17.11", features = ["rayon"] }
insta = "=1.43.1"
rayon = "=1.10.0"
tar = { version = "=0.4.44" }
tracing-subscriber = { version = "=0.3.19", features = ["env-filter"] }
walkdir = "=2.5.0"
