[package]
name = "crates_io_tarball"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[features]
builder = ["dep:flate2", "dep:tar"]

[dependencies]
astral-tokio-tar = "=0.5.6"
cargo-manifest = "=0.19.1"
flate2 = { version = "=1.1.7", optional = true }
serde = { version = "=1.0.228", features = ["derive"] }
serde_json = "=1.0.146"
tar = { version = "=0.4.44", optional = true }
thiserror = "=2.0.17"
tracing = "=0.1.44"
tokio = { version = "=1.48.0", features = ["io-util", "macros", "rt-multi-thread"] }
async-compression = { version = "=0.4.36", default-features = false, features = ["gzip", "tokio"] }
futures-util = "=0.3.31"

[dev-dependencies]
anyhow = "=1.0.100"
claims = "=0.8.0"
clap = { version = "=4.5.53", features = ["derive", "unicode", "wrap_help"] }
flate2 = { version = "=1.1.7" }
indicatif = { version = "=0.18.3", features = ["rayon"] }
insta = "=1.45.0"
rayon = "=1.11.0"
tar = { version = "=0.4.44" }
tracing-subscriber = { version = "=0.3.22", features = ["env-filter"] }
walkdir = "=2.5.0"
