[package]
name = "crates_io_tarball"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2021"

[lints]
workspace = true

[features]
builder = []

[dependencies]
cargo-manifest = "=0.14.0"
flate2 = "=1.0.30"
serde = { version = "=1.0.203", features = ["derive"] }
serde_json = "=1.0.118"
tar = "=0.4.41"
thiserror = "=1.0.61"
tracing = "=0.1.40"

[dev-dependencies]
anyhow = "=1.0.86"
claims = "=0.7.1"
clap = { version = "=4.5.7", features = ["derive", "unicode", "wrap_help"] }
indicatif = { version = "=0.17.8", features = ["rayon"] }
insta = "=1.39.0"
rayon = "=1.10.0"
tracing-subscriber = { version = "=0.3.18", features = ["env-filter"] }
walkdir = "=2.5.0"
