.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-s);
    margin: var(--space-m) 0;

    > h2 {
        margin: 0;
    }
}

.email-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-s);
    padding: var(--space-s) var(--space-m);
    background-color: light-dark(white, #141413);
    border-radius: var(--space-3xs);
    box-shadow: 0 1px 3px light-dark(hsla(51, 90%, 42%, .35), #232321);
    margin-bottom: var(--space-s);
}

.email-input-label {
    font-weight: bold;
}

.email-input {
    width: 400px;
}

.list {
    background-color: light-dark(white, #141413);
    border-radius: var(--space-3xs);
    box-shadow: 0 1px 3px light-dark(hsla(51, 90%, 42%, .35), #232321);

    > * {
        padding: var(--space-s) var(--space-m);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    > * + * {
        border-top: 1px solid light-dark(hsla(51, 90%, 42%, .25), #232321);
    }
}

.trustpub {
    background-color: light-dark(white, #141413);
    border-radius: var(--space-3xs);
    box-shadow: 0 1px 3px light-dark(hsla(51, 90%, 42%, .35), #232321);

    :global(tbody) > :global(tr) > :global(td) {
        border-top: 1px solid light-dark(hsla(51, 90%, 42%, .25), #232321);
    }

    :global(th), :global(td) {
        text-align: left;
        padding: var(--space-s) var(--space-m);
    }

    .details {
        font-size: 0.85em;
        line-height: 1.5;
    }

    .actions {
        text-align: right;
    }

    @media only screen and (max-width: 550px) {
        thead {
            display: none;
        }

        tbody > tr > td:first-child {
            padding-bottom: 0;
        }

        tbody > tr:not(:first-child) > td:first-child {
            border-top: 1px solid light-dark(hsla(51, 90%, 42%, .25), #232321);
        }

        tbody > tr > td {
            border: none;
        }

        td {
            display: block;
            width: 100%;
        }

        .details {
            padding-bottom: 0;
        }

        .actions {
            text-align: left;
        }
    }
}

.email-column {
    width: 25%;
    color: var(--main-color-light);
}
