.form {
    max-width: 600px;
    margin: var(--space-m) auto;
}

.form-group, .buttons {
    margin: var(--space-m) 0;
}

.publisher-select {
    max-width: 600px;
    width: 100%;
    padding-right: var(--space-m);
    background-image: url("/assets/dropdown.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - var(--space-2xs)) center;
    background-size: 10px;
    appearance: none;
}

.note {
    margin-top: var(--space-2xs);
    font-size: 0.85em;
}

.input {
    max-width: 600px;
    width: 100%;
}

.buttons {
    display: flex;
    gap: var(--space-2xs);
    flex-wrap: wrap;
}

.add-button {
    border-radius: 4px;

    .spinner {
        margin-left: var(--space-2xs);
    }
}

.cancel-button {
    border-radius: 4px;
}

.workflow-verification {
    margin-top: var(--space-2xs);
    font-size: 0.85em;

    :global(a), :global(a):hover {
        color: inherit;
    }
}

.workflow-verification--success {
    color: var(--green800);
}

.workflow-verification--warning {
    color: var(--yellow700);
}
