.form {
    max-width: 600px;
    margin: var(--space-m) auto;
}

.form-group, .buttons {
    margin: var(--space-m) 0;
}

.publisher-select {
    max-width: 600px;
    width: 100%;
    padding-right: var(--space-m);
    background-image: url("/assets/dropdown-black.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - var(--space-2xs)) center;
    background-size: 10px;
    appearance: none;

    [data-color-scheme="system"] & {
        @media (prefers-color-scheme: dark) {
            background-image: url("/assets/dropdown-white.svg");
        }
    }

    [data-color-scheme="dark"] & {
        background-image: url("/assets/dropdown-white.svg");
    }
}

.note {
    margin-top: var(--space-2xs);
    font-size: 0.85em;
}

.input {
    max-width: 600px;
    width: 100%;
}

.buttons {
    display: flex;
    gap: var(--space-2xs);
    flex-wrap: wrap;
}

.add-button {
    border-radius: var(--space-3xs);

    .spinner {
        margin-left: var(--space-2xs);
    }
}

.cancel-button {
    border-radius: var(--space-3xs);
}

.gitlab-wip-notice {
    display: flex;
    margin: var(--space-m) 0;
    padding: var(--space-xs);
    background-color: light-dark(var(--yellow100), var(--yellow900));
    border-color: var(--yellow500);
    border-left-style: solid;
    border-left-width: 4px;
    border-radius: var(--space-3xs);
    font-size: 0.85em;

    :global(svg) {
        flex-shrink: 0;
        width: 1em;
        height: 1em;
        color: var(--yellow500);
    }

    :global(p) {
        margin: 0 0 0 var(--space-xs);
        text-wrap: pretty;
    }
}

.workflow-verification {
    margin-top: var(--space-2xs);
    font-size: 0.85em;

    :global(a), :global(a):hover {
        color: inherit;
    }
}

.workflow-verification--success {
    color: var(--green800);
}

.workflow-verification--warning {
    color: var(--yellow700);
}
