.header {
    display: flex;
    align-items: center;

    h1 {
        margin: 0;
    }
}

.subcategories {
    background-color: light-dark(white, #141413);
    border-radius: var(--space-3xs);
    box-shadow: 0 1px 3px light-dark(hsla(51, 90%, 42%, .35), #232321);
    margin-bottom: var(--space-s);

    > * {
        padding: var(--space-s);
    }

    > * + * {
        border-top: 1px solid light-dark(hsla(51, 90%, 42%, .25), #424242);
    }
}

.crate-count,
.category-description {
    composes: small from '../shared/typography.module.css';
}

.category-description {
    margin-top: var(--space-2xs);
}

.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-s);
}

.sort-by-label {
    composes: small from '../shared/typography.module.css';
}

.list {
    margin-bottom: var(--space-s);
}
