[package]
name = "crates_io_index"
version = "0.0.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/rust-lang/crates.io"
description = "crates.io package index utilities"
edition = "2021"

[lints]
workspace = true

[lib]
path = "lib.rs"

[features]
testing = []

[dependencies]
anyhow = "=1.0.86"
base64 = "=0.22.1"
crates_io_env_vars = { path = "../crates_io_env_vars" }
git2 = "=0.19.0"
secrecy = "=0.8.0"
serde = { version = "=1.0.203", features = ["derive"] }
serde_json = "=1.0.118"
tempfile = "=3.10.1"
tracing = "=0.1.40"
url = "=2.5.2"

[dev-dependencies]
claims = "=0.7.1"
