[package]
name = "crates_io_index"
version = "0.0.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/rust-lang/crates.io"
description = "crates.io package index utilities"
edition = "2024"

[lints]
workspace = true

[lib]
path = "lib.rs"

[features]
testing = []

[dependencies]
anyhow = "=1.0.100"
base64 = "=0.22.1"
chrono = { version = "=0.4.43", features = ["serde"] }
crates_io_env_vars = { path = "../crates_io_env_vars" }
git2 = "=0.20.4"
secrecy = "=0.10.3"
serde = { version = "=1.0.228", features = ["derive"] }
serde_json = "=1.0.149"
tempfile = "=3.24.0"
tracing = "=0.1.44"
url = "=2.5.8"

[dev-dependencies]
claims = "=0.8.0"
insta = "=1.46.3"
