[package]
name = "crates_io_index"
version = "0.0.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/rust-lang/crates.io"
description = "crates.io package index utilities"
edition = "2024"

[lints]
workspace = true

[lib]
path = "lib.rs"

[features]
testing = []

[dependencies]
anyhow = "=1.0.98"
base64 = "=0.22.1"
crates_io_env_vars = { path = "../crates_io_env_vars" }
git2 = "=0.20.2"
secrecy = "=0.10.3"
serde = { version = "=1.0.219", features = ["derive"] }
serde_json = "=1.0.140"
tempfile = "=3.20.0"
tracing = "=0.1.41"
url = "=2.5.4"

[dev-dependencies]
claims = "=0.8.0"
insta = "=1.43.1"
