{% extends "base.txt.j2" %}

{% block content %}
Hi {{ name }},

We noticed that your token "{{ token_name }}" will expire on {{ expiry_date }}.

If this token is still needed, visit https://crates.io/settings/tokens/new?from={{ token_id }} to generate a new one.
{% endblock %}