{% extends "base.txt.j2" %}

{% block content %}
{{ inviter }} has invited you to become an owner of the crate {{ crate_name }}!

Visit https://{{ domain }}/accept-invite/{{ token }} to accept this invitation.

You can also go to https://{{ domain }}/me/pending-invites to manage all of your crate ownership invitations.
{% endblock %}
