{% extends "base.html.j2" %}

{% block content %}
<p>{{ inviter }} has invited you to become an owner of the crate <strong>{{ crate_name }}</strong>!</p>

<p>Visit <a href="https://{{ domain }}/accept-invite/{{ token }}">https://{{ domain }}/accept-invite/{{ token }}</a> to accept this invitation.</p>

<p>You can also go to <a href="https://{{ domain }}/me/pending-invites">https://{{ domain }}/me/pending-invites</a> to manage all of your crate ownership invitations.</p>
{% endblock %}
