<div id="crates-heading">
  {{svg-jar "circle-with-i"}}
  <h1>Documentation for <em>{{this.model.name}}</em></h1>
</div>

<p>
  Redirecting you to <code>{{this.model.documentation}}</code>&#8230;
</p>
