<div id="crates-heading">
    <img class="logo" src="/assets/circle-with-i.png"/>
    <h1>Documentation for <em>{{model.name}}</em></h1>
</div>

<p>
    Redirecting you to <code>{{model.documentation}}</code>&#8230;
</p>
