<div id="crates-heading">
    <img class="logo" src="/assets/circle-with-i.png"/>
    <h1>Documentation for <em>{{name}}</em></h1>
</div>

<p>
    Redirecting you to <code>{{documentation}}</code>&#8230;
</p>
