.list {
    list-style: none;
    margin: 0;
    padding: 0;

    > * + * {
        margin-top: var(--space-2xs);
    }
}

.heading {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
