[package]
name = "crates_io_github"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[features]
mock = ["dep:mockall"]

[dependencies]
anyhow = "=1.0.98"
async-trait = "=0.1.88"
mockall = { version = "=0.13.1", optional = true }
oauth2 = { version = "=5.0.0", default-features = false }
reqwest = { version = "=0.12.15", features = ["json"] }
serde = { version = "=1.0.219", features = ["derive"] }
thiserror = "=2.0.12"
tracing = "=0.1.41"

[dev-dependencies]
clap = { version = "=4.5.39", features = ["derive", "env", "unicode", "wrap_help"] }
secrecy = "=0.10.3"
tokio = { version = "=1.45.1", features = ["macros", "rt-multi-thread"] }
tracing-subscriber = { version = "=0.3.19", features = ["env-filter"] }
