[package]
name = "crates_io_github"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[features]
mock = ["dep:mockall"]

[dependencies]
anyhow = "=1.0.101"
async-trait = "=0.1.89"
mockall = { version = "=0.14.0", optional = true }
oauth2 = { version = "=5.0.0", default-features = false }
reqwest = { version = "=0.13.2", features = ["json"] }
serde = { version = "=1.0.228", features = ["derive"] }
thiserror = "=2.0.18"
tracing = "=0.1.44"

[dev-dependencies]
clap = { version = "=4.5.58", features = ["derive", "env", "unicode", "wrap_help"] }
secrecy = "=0.10.3"
tokio = { version = "=1.49.0", features = ["macros", "rt-multi-thread"] }
tracing-subscriber = { version = "=0.3.22", features = ["env-filter"] }
