[package]
name = "crates_io_worker"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.99"
diesel = { version = "=2.2.12", features = ["postgres", "serde_json"] }
diesel-async = { version = "=0.6.1", features = ["async-connection-wrapper", "deadpool", "postgres"] }
futures-util = "=0.3.31"
sentry-core = { version = "=0.42.0", features = ["client"] }
serde = { version = "=1.0.219", features = ["derive"] }
serde_json = "=1.0.143"
thiserror = "=2.0.16"
tokio = { version = "=1.47.1", features = ["rt", "time"]}
tracing = "=0.1.41"

[dev-dependencies]
claims = "=0.8.0"
crates_io_test_db = { path = "../crates_io_test_db" }
insta = { version = "=1.43.2", features = ["json"] }
tokio = { version = "=1.47.1", features = ["macros", "sync"]}
