[package]
name = "crates_io_worker"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.93"
deadpool-diesel = { version = "=0.6.1", features = ["postgres", "tracing"] }
diesel = { version = "=2.2.5", features = ["postgres", "serde_json"] }
diesel-async = { version = "=0.5.2", features = ["async-connection-wrapper", "deadpool", "postgres"] }
futures-util = "=0.3.31"
sentry-core = { version = "=0.34.0", features = ["client"] }
serde = { version = "=1.0.215", features = ["derive"] }
serde_json = "=1.0.133"
thiserror = "=2.0.3"
tokio = { version = "=1.41.1", features = ["rt", "time"]}
tracing = "=0.1.40"

[dev-dependencies]
claims = "=0.8.0"
crates_io_test_db = { path = "../crates_io_test_db" }
insta = { version = "=1.41.1", features = ["json"] }
tokio = { version = "=1.41.1", features = ["macros", "sync"]}
