[package]
name = "crates_io_worker"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.86"
deadpool-diesel = { version = "=0.6.1", features = ["postgres", "tracing"] }
diesel = { version = "=2.2.2", features = ["postgres", "serde_json"] }
diesel-async = { version = "=0.5.0", features = ["async-connection-wrapper", "deadpool", "postgres"] }
futures-util = "=0.3.30"
sentry-core = { version = "=0.34.0", features = ["client"] }
serde = { version = "=1.0.205", features = ["derive"] }
serde_json = "=1.0.122"
thiserror = "=1.0.63"
tokio = { version = "=1.39.2", features = ["rt", "time"]}
tracing = "=0.1.40"

[dev-dependencies]
crates_io_test_db = { path = "../crates_io_test_db" }
tokio = { version = "=1.39.2", features = ["macros", "rt", "rt-multi-thread", "sync"]}
