[package]
name = "crates_io_worker"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.100"
diesel = { version = "=2.3.6", features = ["postgres", "serde_json"] }
diesel-async = { version = "=0.7.4", features = ["async-connection-wrapper", "deadpool", "postgres"] }
futures-util = "=0.3.31"
sentry-core = { version = "=0.46.1", features = ["client"] }
serde = { version = "=1.0.228", features = ["derive"] }
serde_json = "=1.0.149"
thiserror = "=2.0.18"
tokio = { version = "=1.49.0", features = ["rt", "time"]}
tracing = "=0.1.44"

[dev-dependencies]
claims = "=0.8.0"
crates_io_test_db = { path = "../crates_io_test_db" }
insta = { version = "=1.46.1", features = ["json"] }
tokio = { version = "=1.49.0", features = ["macros", "sync"]}
