New crate {{ crate_name }} may be typosquatting one or more other crates.

Visit https://{{ domain }}/crates/{{ crate_name }} to see the offending crate.

Specific squat checks that triggered:

{% for squat in squats -%}
- {{ squat.display }} (https://{{ domain }}/crates/{{ squat.package }})
{% endfor %}