{{ title 'Pending Invites' }}

<div id='crates-heading'>
  {{svg-jar "gear"}}
  <h1>Pending Owner Invites</h1>
</div>

<div id='my-invites'>
  <div class='white-rows'>
    {{#each this.model as |invite|}}
      <PendingOwnerInviteRow @invite={{invite}} />
    {{else}}
      <p>You don't seem to have any pending invitations.</p>
    {{/each}}
  </div>
</div>
