.link {
    --shadow: 0 2px 3px hsla(51, 50%, 44%, .35);
    --placeholder-bg: hsla(59, 19%, 50%, 1.0);
    --placeholder-bg2: hsla(59, 19%, 50%, 0.7);

    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 8px 0;
    padding: 0 15px;
    background-color: white;
    color: #525252;
    border-radius: 5px;
    box-shadow: var(--shadow);
    cursor: wait;
}

.left {
    flex-grow: 1;
    width: 0;
}

.title {
    height: 16px;
    width: 150px;
    border-radius: 8px;
    opacity: 0.25;
}

.subtitle {
    height: 13px;
    width: 90px;
    margin-top: 4px;
    border-radius: 6.5px;
    opacity: 0.2;
}

.right {
    flex-shrink: 0;
    height: 16px;
    width: auto;
    margin-left: 10px;
    color: rgb(118, 131, 138);
}
