<div ...attributes class="link">
  <div class="left">
    <Placeholder class="title" />
    {{#if @withSubtitle}}<Placeholder class="subtitle" />{{/if}}
  </div>
  {{svg-jar "chevron-right" class=(scoped-class "right")}}
</div>