<div local-class="link" ...attributes>
  <div local-class="left">
    <Placeholder local-class="title" />
    {{#if @withSubtitle}}<Placeholder local-class="subtitle" />{{/if}}
  </div>
  {{svg-jar "chevron-right" local-class="right"}}
</div>