[package]
name = "crates_io_smoke_test"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.100"
bytes = "=1.10.1"
clap = { version = "=4.5.48", features = ["derive", "env", "unicode", "wrap_help"] }
crates_io_index = { path = "../crates_io_index" }
rand = "=0.9.2"
reqwest = { version = "=0.12.23", features = ["gzip", "json"] }
secrecy = "=0.10.3"
semver = { version = "=1.0.27", features = ["serde"] }
serde = { version = "=1.0.226", features = ["derive"] }
serde_json = "=1.0.145"
tempfile = "=3.22.0"
thiserror = "=2.0.16"
tokio = { version = "=1.47.1", features = ["fs", "macros", "process", "rt-multi-thread"]}
tracing = "=0.1.41"
tracing-subscriber = { version = "=0.3.20", features = ["env-filter"] }
