[package]
name = "crates_io_smoke_test"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.86"
bytes = "=1.6.0"
clap = { version = "=4.5.7", features = ["derive", "env", "unicode", "wrap_help"] }
crates_io_index = { path = "../crates_io_index" }
reqwest = { version = "=0.12.5", features = ["gzip", "json"] }
secrecy = "=0.8.0"
semver = { version = "=1.0.23", features = ["serde"] }
serde = { version = "=1.0.203", features = ["derive"] }
serde_json = "=1.0.118"
tempfile = "=3.10.1"
thiserror = "=1.0.61"
tokio = { version = "=1.38.0", features = ["fs", "macros", "process", "rt-multi-thread"]}
tracing = "=0.1.40"
tracing-subscriber = { version = "=0.3.18", features = ["env-filter"] }
