[package]
name = "crates_io_smoke_test"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
anyhow = "=1.0.101"
bytes = "=1.11.1"
clap = { version = "=4.5.59", features = ["derive", "env", "unicode", "wrap_help"] }
crates_io_index = { path = "../crates_io_index" }
rand = "=0.10.0"
reqwest = { version = "=0.13.2", features = ["gzip", "json"] }
secrecy = "=0.10.3"
semver = { version = "=1.0.27", features = ["serde"] }
serde = { version = "=1.0.228", features = ["derive"] }
serde_json = "=1.0.149"
tempfile = "=3.25.0"
thiserror = "=2.0.18"
tokio = { version = "=1.49.0", features = ["fs", "macros", "process", "rt-multi-thread"]}
tracing = "=0.1.44"
tracing-subscriber = { version = "=0.3.22", features = ["env-filter"] }
