[package]
name = "crates_io_docs_rs"
version = "0.0.0"
license = "MIT OR Apache-2.0"
edition = "2024"

[lints]
workspace = true

[features]
mock = ["dep:mockall"]

[dependencies]
anyhow = "=1.0.102"
async-trait = "=0.1.89"
crates_io_env_vars = { path = "../crates_io_env_vars" }
crates_io_version = { path = "../crates_io_version" }
http = "=1.4.0"
mockall = { version = "=0.14.0", optional = true }
reqwest = { version = "=0.13.2", features = ["json"] }
serde = { version = "=1.0.228", features = ["derive"] }
thiserror = "=2.0.18"
tracing = "=0.1.44"
url = "=2.5.8"

[dev-dependencies]
claims = "=0.8.0"
serde_json = "=1.0.149"
mockito = "=1.7.2"
test-case = "=3.3.1"
tokio = { version = "=1.49.0", features = ["macros", "rt-multi-thread"] }
tracing-subscriber = "=0.3.22"
