.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.sort-by-label {
    composes: small from '../shared/typography.module.css';
}

.list {
    margin-bottom: 20px;
}
