.me-profile {
    border-bottom: 5px solid $gray-border;
    @media only screen and (prefers-color-scheme: dark) {
        border-bottom: 0.25rem solid #666;
    }
    padding-bottom: 20px;
    margin-bottom: 20px;

    .info { display: flex; }
    dl {
        margin: 0 0 0 30px;
        line-height: 150%;
        font-size: 110%;
        dt {
            font-weight: bold;
            width: 150px;
            text-align: right;
            float: left;
            clear: both;
        }
        dd { float: left; margin-left: 10px; }
    }

    @media only screen and (max-width: 550px) {
        .info img { display: none; }
    }
}

.me-subheading {
    display: flex;
    .right {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
}

.token-list {
    background-color: $main-bg-dark;
    @media only screen and (prefers-color-scheme: dark) {
        background-color: inherit;
    }
    display: flex;
    flex-direction: column;
}
