.me-profile {
    border-bottom: 5px solid var(--gray-border);
    padding-bottom: 20px;
    margin-bottom: 20px;

    .info { display: flex; }
    dl {
        margin: 0 0 0 30px;
        line-height: 150%;
        font-size: 110%;
        dt {
            font-weight: bold;
            width: 150px;
            text-align: right;
            float: left;
            clear: both;
        }
        dd { float: left; margin-left: 10px; }
    }

    @media only screen and (max-width: 550px) {
        .info img { display: none; }
    }
}

.me-email {
    border-bottom: 5px solid var(--gray-border);
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.me-email-notifications {
    border-bottom: 5px solid var(--gray-border);
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .right {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
}

.notifications-list {
    padding: 0;
    flex-grow: 1;
}

.notifications-row {
    display: flex;
    flex-direction: row;
}

.select-all-button,
.deselect-all-button {
    composes: yellow-button small from '../shared/buttons.module.css';
    margin-right: 1rem;
}

.notifications-error,
.notifications-success {
    border-top-width: 0;
    font-weight: bold;

    padding: 0 10px 10px 20px;
}

.notifications-error {
    color: hsl(349, 100%, 42%);
}

.notifications-success {
    color: hsl(120, 100%, 25%);
}


.update-notifications-button {
    composes: yellow-button from '../shared/buttons.module.css';
}

.me-subheading {
    display: flex;
    .right {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
}

.new-token-button {
    composes: yellow-button from '../shared/buttons.module.css';
}

.token-list {
    background-color: var(--main-bg-dark);
    display: flex;
    flex-direction: column;
}
