.list {
    background-color: white;
    border-radius: var(--space-3xs);
    box-shadow: 0 1px 3px hsla(51, 90%, 42%, .35);
    margin-bottom: var(--space-s);

    > * {
        padding: var(--space-s);
    }

    > * + * {
        border-top: 1px solid hsla(51, 90%, 42%, .25);
    }
}
