.link {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 60px;
    margin: 8px 0;
    padding: 0 10px;
    background-color: var(--main-bg-dark);
    color: hsl(0, 0%, 32%);
    text-decoration: none;

    &:hover {
        background-color: hsl(52, 31%, 85%);
    }
}

.left {
    flex-grow: 1;
    width: 0;
}

.title, .subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    font-size: 16px;
}

.subtitle {
    margin-top: 4px;
    font-size: 13px;
    color: hsl(201, 8%, 50%);
}

.right {
    flex-shrink: 0;
    height: 16px;
    width: auto;
    margin-left: 10px;
    color: hsl(201, 8%, 50%);
}
