.link {
    --shadow: 0 2px 3px hsla(51, 50%, 44%, .35);

    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 8px 0;
    padding: 0 15px;
    background-color: white;
    color: #525252;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: background-color 300ms;

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 3px var(--yellow500), var(--shadow);
    }

    &:hover, &:focus-visible {
        color: #525252;
        background-color: hsl(58deg 72% 97%);
        transition: background-color 0ms;
    }

    &:active {
        transform: translateY(2px);
        --shadow: inset 0 0 0 1px hsla(51, 50%, 44%, .15);
    }
}

.left {
    flex-grow: 1;
    width: 0;
}

.title, .subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    font-size: 16px;
}

.subtitle {
    margin-top: 4px;
    font-size: 13px;
    color: rgb(118, 131, 138);
}

.right {
    flex-shrink: 0;
    height: 16px;
    width: auto;
    margin-left: 10px;
    color: rgb(118, 131, 138);
}
