.item {
    > a, span, button {
        font-size: 90%;
        width: 100%;
        display: inline-flex;
        text-align: start;
        padding: 8px 10px;
        text-decoration: none;
        cursor: pointer;
        color: var(--main-color) !important;

        &:hover {
            background: var(--menu-hover);
            color: white !important;
        }
    }
}
