.list {
    margin: 0;
    text-align: left;
    padding: 0;
    background: var(--item-background);
    border: 1px solid var(--gray-border);
    list-style: none;
    overflow: hidden;
    border-radius: 5px;
}
