.item {
    a {
        font-size: 90%;
        width: 100%;
        display: inline-block;
        padding: 8px 10px;
        text-decoration: none;
        color: var(--main-color) !important;

        &:hover {
            background: hsl(0, 0%, 37%);
            color: hsl(0, 0%, 100%) !important;
        }
    }
}
