.item {
    > a, button {
        font-size: 90%;
        width: 100%;
        display: inline-flex;
        text-align: start;
        padding: var(--space-2xs) var(--space-xs);
        text-decoration: none;
        color: var(--main-color) !important;

        &:hover {
            background: #5e5e5e;
            color: white !important;
        }
    }
}
