.button {
    color: inherit;
    cursor: pointer;

    .arrow {
        font-size: 50%;
        display: inline-block;
        vertical-align: middle;
    }

    .arrow::after {
        content: "▼";
    }

    &.active .arrow::after {
        content: "▲";
    }
}
