.button {
    display: inline-flex;
    align-items: center;
    color: inherit;
    cursor: pointer;

    .arrow {
        margin-left: 0.6em;
        font-size: 50%;
        display: inline-block;
        vertical-align: middle;
    }

    .arrow::after {
        content: "▼";
    }

    &.active .arrow::after {
        content: "▲";
    }
}
