<h2 id='title'>Welcome to Ember.js</h2>

{{#if flashError}}
  <p>{{flashError}}</p>
{{/if}}

{{outlet}}


<footer>
  {{#if isLoggedIn}}
    {{#link-to "logout"}}Log out{{/link-to}}
  {{else}}
    {{#link-to "login"}}Log in{{/link-to}}
  {{/if}}
  &middot;
  {{#link-to "packages"}}packages{{/link-to}}
  &middot;
  {{#link-to "index"}}index{{/link-to}}
</footer>
