<HeadLayout />

{{title "crates.io: Rust Package Registry" separator=' - ' prepend=true}}

<PageProgress/>
<Header/>

<main local-class="main">
  <div local-class="inner-main">
    <FlashMessage @message={{this.flashMessages.message}} />

    {{outlet}}
  </div>
</main>

<Footer/>

<a href='https://github.com/rust-lang/crates.io' local-class='fork-me'>
  <img src='/assets/forkme.png' alt="Fork me on GitHub">
</a>