<div id="header">
  <div class='inner-content'>
    {{#link-to "index"}}
      <img src="assets/Cargo-Logo-Small.png" id="logo"/>
    {{/link-to}}

    <div class='nav'>
      {{#if session.isLoggedIn}}
        {{#link-to "me"}}Account{{/link-to}}
        &middot;
        {{#link-to "logout"}}Log out{{/link-to}}
      {{else}}
        {{#link-to "login"}}Log in{{/link-to}}
      {{/if}}
    </div>

    <div class='links'>
      {{#link-to "packages"}}packages{{/link-to}}
    </div>
  </div>
</div>

<div id="main" class='inner-content'>
  {{#if flashError}}
    <p>{{flashError}}</p>
  {{/if}}

  {{outlet}}
</div>
