<div local-class="wrapper" data-test-404-page>
  <div local-class="content">
    {{svg-jar "cuddlyferris" local-class="logo"}}

    <h1 local-class="title" data-test-title>Page not found</h1>

    <a href="javascript:history.back()" local-class="link">
      Go Back
    </a>
  </div>
</div>