.wrapper {
    height: 100%;
    display: grid;
    place-items: center;
}

.content {
    display: grid;
    place-items: center;
    margin: var(--space-m) 0;
}

.logo {
    max-width: 200px;
}

.link {
    font-weight: 500;

    &[disabled] {
        color: var(--grey600);
        cursor: wait;
    }
}
