<FlashMessage @message="Oops, that route doesn't exist!" />

<p id='p404'>
  Perhaps a search of the site may help?

  <Input
    @type="text"
    class="search"
    placeholder="Search"
    @value={{this.search}}
    @enter={{action "search"}}
    required={{true}}
  />
</p>
