<h1>Oops, that route doesn't exist!</h1>

<p local-class='p404'>
  Perhaps a search of the site may help?

  <Input
    @type="text"
    local-class="search-field"
    placeholder="Search"
    @value={{this.header.searchValue}}
    @enter={{action "search"}}
    required={{true}}
  />
</p>
