.list {
    background-color: light-dark(white, #141413);
    border-radius: var(--space-3xs);
    box-shadow: 0 1px 3px light-dark(hsla(51, 90%, 42%, .35), #232321);
    margin-bottom: var(--space-s);

    dt {
        padding: var(--space-s);
        padding-bottom: var(--space-2xs);
        font-family: var(--font-monospace);
        font-weight: bold;
    }

    dd {
        margin: 0 var(--space-s) var(--space-s);
    }

    > * + dt {
        border-top: 1px solid light-dark(hsla(51, 90%, 42%, .25), #424242);
    }
}
