{{ title 'Category Slugs' }}

<div id='crates-heading'>
    <img class='logo crate' src="/assets/crate.png"/>
    <h1>All Valid Category Slugs</h1>
</div>

<div class='white-rows'>
    <ul>
      {{#each model as |slug|}}
          <li>{{slug.slug}}</li>
      {{/each}}
    </ul>
</div>