<div class='crate row'>
    <div class='desc'>
        <div class='info'>
            {{#link-to "crate" this}}{{ name }}{{/link-to}}
            <span class='vers small'>{{ max_version }}</span>
        </div>
        <div class='summary'>
            <span class='small'>
                {{ truncate-text description }}
            </span>
        </div>
    </div>
    <div class='stats'>
        <div class='downloads'>
            <img src="/assets/download.png"/>
            <span class='num'>{{ format-num downloads }}</span>
        </div>
    </div>
</div>
