<ul>
    {{#each}}
        <li>
            {{#link-to 'crate' this class='name'}}
                {{ name }} ({{ max_version }})
                <img src="/assets/right-arrow.png"/>
            {{/link-to}}
        </li>
    {{/each}}
</ul>
