<div id='crates-heading'>
    {{svg-jar "download"}}
    <h1>Install Cargo</h1>
</div>

<p>
    Redirecting you to <code>https://doc.rust-lang.org/cargo/getting-started/installation.html</code>&#8230;
</p>
