<table>
  <tr>
    <th>Name</th>
    <th>&nbsp;</th>
  </tr>
  {{#each}}
    <tr>
      <td>{{ name }}</td>
      <td>
        {{#link-to "package" this}}[show]{{/link-to}}
        {{#if controller.session.isLoggedIn}}
          &middot; {{#link-to "package.edit" this}}[edit]{{/link-to}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>
