.results-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-s);
}

.list {
    margin-bottom: var(--space-s);
}

.try-again-button {
    align-self: center;
    margin-top: var(--space-m);
}
