name: CI

on:
  push:
    branches:
      - main
      - master

  pull_request:

permissions: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  # renovate: datasource=crate depName=cargo-deny versioning=semver
  CARGO_DENY_VERSION: 0.19.0
  # renovate: datasource=github-releases depName=cargo-insta lookupName=mitsuhiko/insta versioning=semver
  CARGO_INSTA_VERSION: 1.46.3
  # renovate: datasource=crate depName=cargo-machete versioning=semver
  CARGO_MACHETE_VERSION: 0.9.1
  # renovate: datasource=crate depName=diesel-guard versioning=semver
  DIESEL_GUARD_VERSION: 0.5.1
  # renovate: datasource=github-releases depName=shssoichiro/oxipng versioning=semver
  OXIPNG_VERSION: 10.1.0
  # renovate: datasource=npm depName=pnpm
  PNPM_VERSION: 10.29.3
  # renovate: datasource=github-releases depName=typst/typst versioning=semver
  TYPST_VERSION: 0.14.2
  # renovate: datasource=pypi depName=zizmor
  ZIZMOR_VERSION: 1.22.0

jobs:
  filter-jobs:
    name: Filter Jobs
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          # This is needed to get the commit history for the changed-files action
          # (see https://github.com/tj-actions/changed-files/blob/v46.0.5/README.md#usage-)
          fetch-depth: 0

      - uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        id: changed-files
        with:
          files_yaml_from_source_file: .github/changed-files.yml

    outputs:
      backend-lint: ${{ steps.changed-files.outputs.backend_lint_any_modified }}
      backend-deps: ${{ steps.steps.changed-files.outputs.backend_deps_any_modified || github.event_name == 'push' }}
      backend-migrations: ${{ steps.changed-files.outputs.backend_migrations_any_modified }}
      backend-test: ${{ steps.changed-files.outputs.backend_test_any_modified }}
      frontend-lint: ${{ steps.changed-files.outputs.frontend_lint_any_modified }}
      frontend-test: ${{ steps.changed-files.outputs.frontend_test_any_modified }}
      msw-test: ${{ steps.changed-files.outputs.msw_test_any_modified }}
      api-client-test: ${{ steps.changed-files.outputs.api_client_test_any_modified }}
      e2e-test: ${{ steps.changed-files.outputs.e2e_test_any_modified }}
      svelte: ${{ steps.changed-files.outputs.svelte_any_modified }}
      zizmor: ${{ steps.changed-files.outputs.zizmor_any_modified }}

  percy-nonce:
    name: Frontend / Percy Nonce
    runs-on: ubuntu-latest
    needs: filter-jobs
    if: needs.filter-jobs.outputs.frontend-test == 'true' || needs.filter-jobs.outputs.e2e-test == 'true'

    # persist job results to other jobs in the workflow
    outputs:
      nonce: ${{ steps.percy-nonce.outputs.nonce }}

    steps:
      # persist step results to other steps in the job
      - id: percy-nonce
        # adding a timestamp makes the nonce more unique for re-runs
        run: echo "nonce=${{ github.run_id }}-$(date +%s)" >> $GITHUB_OUTPUT

  backend-lint:
    name: Backend / Lint
    runs-on: ubuntu-24.04
    needs: filter-jobs
    if: needs.filter-jobs.outputs.backend-lint == 'true'

    env:
      RUSTFLAGS: "-D warnings"
      RUSTDOCFLAGS: "-D warnings"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - run: rustup component add rustfmt
      - run: rustup component add clippy

      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - run: cargo fmt --check --all
      - run: cargo clippy --all-targets --all-features --workspace
      - run: cargo doc --no-deps --document-private-items

  backend-deps:
    name: Backend / dependencies
    runs-on: ubuntu-24.04
    needs: filter-jobs
    if: needs.filter-jobs.outputs.backend-deps == 'true'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - run: cargo install cargo-deny --vers ${CARGO_DENY_VERSION}
      - run: cargo deny check

      - run: cargo install cargo-machete --vers ${CARGO_MACHETE_VERSION}
      - run: cargo machete

  backend-migrations:
    name: Backend / migrations
    runs-on: ubuntu-24.04
    needs: filter-jobs
    if: needs.filter-jobs.outputs.backend-migrations == 'true'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - run: cargo install diesel-guard --vers ${DIESEL_GUARD_VERSION}
      - run: diesel-guard check migrations/

  backend-test:
    name: Backend / Test
    runs-on: ubuntu-24.04
    needs: filter-jobs
    if: needs.filter-jobs.outputs.backend-test == 'true'

    env:
      RUST_BACKTRACE: 1
      TEST_DATABASE_URL: postgres://postgres:postgres@localhost/postgres
      RUSTFLAGS: "-D warnings -Cinstrument-coverage"
      MALLOC_CONF: "background_thread:true,abort_conf:true,abort:true,junk:true"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      # Remove the Android SDK in the background to free up space
      - run: sudo rm -rf /usr/local/lib/android &

      - name: Install Typst
        run: |
          wget -q "https://github.com/typst/typst/releases/download/v${TYPST_VERSION}/typst-x86_64-unknown-linux-musl.tar.xz"
          tar -xf "typst-x86_64-unknown-linux-musl.tar.xz"
          sudo mv "typst-x86_64-unknown-linux-musl/typst" /usr/local/bin/
          rm -rf "typst-x86_64-unknown-linux-musl" "typst-x86_64-unknown-linux-musl.tar.xz"
          typst --version

      - name: Install oxipng
        run: |
          wget -q "https://github.com/shssoichiro/oxipng/releases/download/v${OXIPNG_VERSION}/oxipng-${OXIPNG_VERSION}-x86_64-unknown-linux-musl.tar.gz"
          tar -xf "oxipng-${OXIPNG_VERSION}-x86_64-unknown-linux-musl.tar.gz"
          sudo mv "oxipng-${OXIPNG_VERSION}-x86_64-unknown-linux-musl/oxipng" /usr/local/bin/
          rm -rf "oxipng-${OXIPNG_VERSION}-x86_64-unknown-linux-musl" "oxipng-${OXIPNG_VERSION}-x86_64-unknown-linux-musl.tar.gz"
          oxipng --version

      - name: Download Fira Sans font
        run: |
          wget -q "https://github.com/mozilla/Fira/archive/4.202.zip"
          unzip -q "4.202.zip"

      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Install cargo-insta
        run: curl -LsSf https://github.com/mitsuhiko/insta/releases/download/${CARGO_INSTA_VERSION}/cargo-insta-installer.sh | sh

      - run: sudo systemctl start postgresql.service
      - run: sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'postgres'"

      - run: cargo fetch --locked
      - run: cargo build --tests --workspace
      - run: cargo insta test --require-full-match --unreferenced=reject --workspace
        env:
          # Set the path to the Fira Sans font for Typst.
          TYPST_FONT_PATH: ${{ github.workspace }}/Fira-4.202/otf

  frontend-lint:
    name: Frontend / Lint
    runs-on: ubuntu-24.04
    needs: filter-jobs
    if: needs.filter-jobs.outputs.frontend-lint == 'true'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
          node-version-file: package.json

      - run: pnpm install

      - run: pnpm lint:hbs
      - run: pnpm lint:js
      - run: pnpm lint:deps
      - run: pnpm prettier:check

  frontend-test:
    name: Frontend / Test
    runs-on: ubuntu-24.04
    needs: [ filter-jobs, percy-nonce ]
    if: needs.filter-jobs.outputs.frontend-test == 'true'

    env:
      JOBS: 1 # See https://git.io/vdao3 for details.

      # Percy secrets are included here to enable Percy's GitHub integration
      # on community-submitted PRs
      PERCY_TOKEN: web_0a783d8086b6f996809f3e751d032dd6d156782082bcd1423b9b860113c75054
      PERCY_PARALLEL_NONCE: ${{ needs.percy-nonce.outputs.nonce }}
      PERCY_PARALLEL_TOTAL: 2
      PERCY_CLIENT_ERROR_LOGS: "false"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
          node-version-file: package.json

      - run: pnpm install

      - if: github.repository == 'rust-lang/crates.io'
        run: pnpm percy exec --parallel -- pnpm test

      - if: github.repository != 'rust-lang/crates.io'
        run: pnpm test

  msw-test:
    name: Frontend / Test (@crates-io/msw)
    runs-on: ubuntu-24.04
    needs: filter-jobs
    if: needs.filter-jobs.outputs.msw-test == 'true'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
          node-version-file: package.json

      - run: pnpm install

      - run: pnpm --filter "@crates-io/msw" test

  api-client-test:
    name: Frontend / Test (@crates-io/api-client)
    runs-on: ubuntu-24.04
    needs: filter-jobs
    if: needs.filter-jobs.outputs.api-client-test == 'true'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
          node-version-file: package.json

      - run: pnpm install

      - run: pnpm --filter "@crates-io/api-client" test

  e2e-test:
    name: Frontend / Test (playwright)
    runs-on: ubuntu-24.04
    needs: [ filter-jobs, percy-nonce ]
    timeout-minutes: 60
    if: needs.filter-jobs.outputs.e2e-test == 'true'

    env:
      JOBS: 1 # See https://git.io/vdao3 for details.

      # Percy secrets are included here to enable Percy's GitHub integration
      # on community-submitted PRs
      PERCY_TOKEN: web_0a783d8086b6f996809f3e751d032dd6d156782082bcd1423b9b860113c75054
      PERCY_PARALLEL_NONCE: ${{ needs.percy-nonce.outputs.nonce }}
      PERCY_PARALLEL_TOTAL: 2
      PERCY_CLIENT_ERROR_LOGS: "false"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
          node-version-file: package.json

      - run: pnpm install

      - run: pnpm playwright install chromium

      - if: github.repository == 'rust-lang/crates.io'
        run: pnpm percy exec --parallel -- pnpm e2e

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 14

  zizmor:
    name: CI / Lint
    runs-on: ubuntu-24.04
    needs: filter-jobs
    if: needs.filter-jobs.outputs.zizmor == 'true'
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - run: uvx zizmor@${ZIZMOR_VERSION} --format=sarif . > results.sarif
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6 # v4.32.3
        with:
          sarif_file: results.sarif
          category: zizmor

  svelte:
    name: Svelte (experimental)
    runs-on: ubuntu-24.04
    needs: filter-jobs
    if: needs.filter-jobs.outputs.svelte == 'true'

    defaults:
      run:
        working-directory: svelte

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
          node-version-file: package.json

      - run: pnpm install

      - run: pnpm lint
      - run: pnpm check
      - run: pnpm build
      - run: pnpm playwright install chromium-headless-shell
      - run: pnpm test

  svelte-chromatic:
    name: Svelte / Chromatic
    runs-on: ubuntu-24.04
    needs: filter-jobs
    if: needs.filter-jobs.outputs.svelte == 'true'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
          node-version-file: package.json

      - run: pnpm install

      # Chromatic token is included here to enable visual regression testing
      # on community-submitted PRs
      - uses: chromaui/action@a8ce9c58f59be5cc7090cadfc8f130fb08fcf0c3 # v15.1.0
        with:
          workingDir: svelte
          projectToken: chpt_015c1709eb9b9fa
          autoAcceptChanges: main
          exitZeroOnChanges: false
